<div class="container custom-container">
  <div class="page-header non-scrolled-page-header scrollable-page-header">
    <h2 class="green">Les paniers de
        <%= link_to farm_pointsdevente_sale_path(@farm, @sale.outlet, @sale) do %><span class="green">la vente <%= @outlet.full_name %> du </span><span class="green"><%= @sale.date.to_date.strftime('%-d') %>  <%= I18n.t(:month_names)[@sale.date.to_date.strftime('%b').to_sym]%></span>
      <% end %>
    </h2>
  </div>

  <div class="page-content">
  </div>
  <div class="text-right mb-4"><%= link_to new_farm_pointsdevente_basket_path(@farm, @outlet) do %> Ajouter des paniers <% end %>
  </div>
  <% @baskets.each_with_index do |basket, i| %>
    <div class="d-flex justify-content-between flex-wrap">
      <div class="dashboard-crop-plan-line-card dashboard-admin-event-card <%= @colors[i%3] %>">
        <div class="card-colored-top-part-fixed-color <%= @colors[i%3] %>">
          <div class="card-top-part-text"><%= basket.name %> x <%= basket.quantity %></div>
        </div>
        <div class="card-bottom-part">
          <div class="card-bottom-part-text p-0">
              <table class="table basket-lines-table">
                <thead>
                  <tr>
                    <th scope="col" class="basket-product">Légume</th>
                    <th scope="col" class="basket-other-col">Unité</th>
                    <th scope="col" class="basket-other-col text-right">Qté</th>
                    <th scope="col" class="basket-other-col text-right">PU TTC</th>
                    <th scope="col" class="basket-other-col text-right d-none">HT</th>
                    <th scope="col" class="basket-other-col text-right">TTC</th>
                    <th scope="col" class="basket-last-col d-flex justify-content-end"></th>
                  </tr>
                </thead>
                <tbody>
                  <% basket.basket_lines.each do |basket_line| %>
                    <tr>
                      <td class="basket-product"><%= basket_line.product.name.capitalize %></td>
                      <td class="basket-other-col"><%= basket_line.unit %></td>
                      <td class="text-right basket-other-col"><%= remove_trailing_zero(basket_line.quantity) %></td>
                      <td class="text-right basket-other-col"><%= get_price_in_cents(basket_line.ttc_unit_price) %></td>
                      <td class="text-right basket-other-col d-none"><%= get_price_in_cents(basket_line.ht_total_price) %></td>
                      <td class="text-right basket-other-col"><%= get_price_in_cents(basket_line.ttc_total_price) %></td>
                      <td class="basket-last-col d-flex justify-content-end">
                        <%= link_to farm_pointsdevente_sale_basket_basket_line_path(@farm, @sale.outlet.id, @sale.id, basket.id, basket_line.id, ttc_actual_total: basket.ttc_actual_total, ht_actual_total: basket.ht_actual_total), method: :delete, local: true, data: { confirm: "T'es #{current_user.is_female? ? 'sûre' : 'sûr'} ? 🤨"} do %>
                          <div class="round-button red">
                            <i class="fas fa-times round-txt-button"></i>
                          </div>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <tr class="total-basket-line">
                    <td class="basket-product"></td>
                    <td class="basket-other-col"></td>
                    <td class="basket-other-col"></td>
                    <td class="basket-other-col basket-ttc-actual-total text-center">Total</td>
                    <td class="text-right basket-other-col basket-ttc-actual-total"><%= get_price_in_cents(basket.ttc_actual_total.to_i) %></td>
                    <td class="basket-last-col basket-ttc-actual-total d-flex justify-content-end"></td>
                  </tr>
                  <tr class="total-basket-line">
                    <td class="basket-product"></td>
                    <td class="basket-other-col"></td>
                    <td class="basket-other-col"></td>
                    <td class="basket-other-col text-center" style="padding-bottom: 8px !important">Écart</td>
                    <td class="text-right basket-other-col"><%= get_price_in_cents(basket.ttc_price - basket.ttc_actual_total.to_i) %></td>
                    <td class="basket-last-col d-flex justify-content-end"></td>
                  </tr>
                </tbody>
              </table>
              <table class="table basket-lines-table new-basket-line-table">
                <%= simple_form_for @new_basket_line, url: farm_pointsdevente_sale_basket_basket_lines_path(@farm, @outlet, @sale, basket.id, @basket_line), method: :post do |form| %>
                  <tbody>
                    <tr class="new-sales-line">
                      <td class="basket-product basket-product-select"><%= form.select :product, @products, id: "basket_line_product#{basket.id}" %></td>
                      <td class="basket-other-col"><%= form.select :unit, ["-", "botte", "pièce", "kg", "boîte"] %></td>
                      <td style="text-align-last: end" class="basket-other-col">
                        <%= form.number_field :quantity, step: 0.01, placeholder: "Qté", id: "basket_line_quantity#{basket.id}", class: "quantity-column" %>
                      </td>
                      <td style="text-align-last: end" class="basket-other-col">
                        <%= form.number_field :ttc_unit_price, step: 0.01, placeholder: "PU TTC", id: "basket_line_ttc_unit_price#{basket.id}", class: "price-column" %>
                      </td>
                      <%= form.hidden_field :ht_total_price, step: 0.01, id: "basket_line_ht_total#{basket.id}" %>
                      <td style="text-align-last: end" class="basket-other-col">
                        <%= form.number_field :ttc_total_price, step: 0.01, placeholder: "TTC", id: "basket_line_ttc_total#{basket.id}", class: "price-column" %>
                      </td>
                      <td class="d-flex justify-content-end basket-last-col d-flex justify-content-end" style="border-top: none"><%= form.submit value: "OK", 'data-disable-with': "..." %>
                      </td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="card-bottom-right-triangle <%= @colors[i%3] %> pointer" data-drawer-trigger aria-controls="drawer-previous-baskets-<%= basket.id %>"><i class="fas fa-search"></i></div>
          </div>
        </div>
        <%= render "drawer_previous_baskets", basket: basket, farm: @farm, outlet: @sale.outlet, color: @colors[i%3]  %>
      </div>
    </div>
  <% end %>
</div>



