<section class="drawer" id="drawer-event-<%= event.id %>" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="d-flex justify-content-between">
        <div class="drawer__title">
          <h2><%= event.event_subcategory&.capitalize %></h2>
        </div>
        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="drawer__content drawer-content-with-bottom-buttons">
      <div>
        <% if !event.is_all_day %>
          <div class="drawer-dated-admin-date"><%= l(event.start_time, format: '%A %e %B %Y') %></div>
          <% if event.end_time %>
            <div class="drawer-dated-admin-date">De <%= l(event.start_time, format: '%Hh%M') %> à <%= l(event.end_time, format: '%Hh%M') %></div>
          <% else %>
            <div class="drawer-dated-admin-date">À <%= l(event.start_time, format: '%Hh%M') %></div>
          <% end %>
        <% else %>
          <div class="drawer-dated-admin-date"><%= l(event.start_time, format: '%A %e %B %Y') %></div>
        <% end %>
        <h4 class="mt-4">Titre</h4>
        <p><%= event.description %></p>
        <% if event.has_details? %>
          <h4 class="pt-3">Description</h4>
          <p>
            <%= event.details %>
          </p>
        <% end %>
        <% if event.has_users? %>
          <h4 class="pt-3">Qui s'en charge ?</h4>
          <p>
            <%= event.users.map{|user| user.displayed_name}.to_sentence(words_connector: ', ', last_word_connector: ' et ') %>
          </p>
        <% end %>
        <% if event.has_comment? %>
          <h4 class="pt-3">Commentaire</h4>
          <p>
            <%= event.comment %>
          </p>
        <% end %>
      </div>
      <div class="drawer-edit-bottom-buttons px-sm-4">
        <div class="btn txt-button-background orange mt-2" data-drawer-trigger aria-controls="drawer-edit-event-<%= event.id %>">Modifier</div>
      </div>
    </div>
  </div>
</section>
