<section class="drawer" id="drawer-edit-event-<%= event.id %>" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="d-flex justify-content-between">
        <div class="drawer__title">
          <div>
            <h2>Modifier</h2>
          </div>
        </div>
        <button class="drawer__close" data-drawer-close aria-label="Fermer le drawer">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="drawer__content drawer-content-with-bottom-buttons">
      <div>
        <%= form_with model: event, url: farm_calendrier_path(farm, dated_admin_event.id, start_date: params[:start_date], event_category: "dated_admin_event", to_calendar: to_calendar), local: true, method: :patch do |form| %>
          <h4 class="mt-4">Description</h4>
          <%= form.text_area :description, value: dated_admin_event.description, class: "mt-2 w-100", rows: "1" %>
          <h4 class="mt-4">Détails</h4>
          <%= form.text_area :details, value: dated_admin_event.details, class: "mt-2 w-100", rows: "1" %>
          <h4 class="mt-4">Commentaire</h4>
          <%= form.text_area :comment, value: dated_admin_event.comment, class: "mt-2 w-100", rows: "1" %>
          <h4 class="mt-4">Type d'événement</h4>
          <div class="d-flex"><%= form.select :event_subcategory, ["vente", "rdv", "mission"], selected: dated_admin_event.event_subcategory,class: "mt-2", rows: "1" %></div>
          <div class="user-button-event mt-4">
            <div class="d-flex">
              <% workers.each do |worker| %>
                <div class="d-flex pr-1 pointer">
                  <div class="chose-worker txt-avatar m-2 <%= dated_admin_event.is_user?(worker) ? worker.color : 'lightgrey' %> <%= dated_admin_event.is_user?(worker) ? "selected" : '' %>" data-worker="<%= worker.id %>" data-worker-color="<%= worker.color %>">
                    <%= worker.initial %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <%= form.hidden_field :worker_list, input_html: { readonly: true, value: "", 'data-workers': dated_admin_event.users.map(&:id).join(",") }, class: "event_worker_list hidden" %>
        </div>
        <div class="drawer-edit-bottom-buttons px-sm-4">
          <div><%= form.submit value: "Valider", class: "btn txt-button-background olive mt-2", 'data-disable-with': "..." %></div>
          <div><%= link_to "Supprimer", farm_calendrier_path(farm, dated_admin_event.id, start_date: params[:start_date], event_subcategory: dated_admin_event.event_subcategory), method: :delete, class: "btn txt-button-background red mt-2", data: { confirm: "T'es #{current_user.is_female? ? 'sûre' : 'sûr'} ? 🤨"} %></div>
        </div>
      <% end %>
    </div>
  </div>
</section>
