<section class="drawer" id="drawer-info-cple-<%= cple.id %>" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="d-flex justify-content-between">
        <% if cple.name == 'plantation' %>
          <div class="drawer__title">
            <div>
              <h2><%= cple.product.name.capitalize %></h2>
            </div>
            <div class="drawer-title-second-line"><%= cple.bed.garden.name %> - <%= cple.bed.name %></div>
          </div>
        <% elsif cple.name == 'préparation planche' %>
          <div class="drawer__title">
            <div>
              <h2><%= cple.bed.garden.name %> - <%= cple.bed.name %></h2>
            </div>
            <div class="drawer-title-second-line"><%= cple.product.name.capitalize %></div>
          </div>
        <% end %>
        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="drawer__content drawer-content-cpl drawer-content-with-bottom-buttons">
      <div class="pb-4">
        <h3>Infos sur l'activité</h3>
        <ul class="pl-3">
          <li><i class="fas fa-ellipsis-h orange mr-2"></i><span class="raisin">Prévue en semaine <%= cple.date_planned.strftime('%-W') %></span></li>
          <% if cple.is_done? %>
            <li><i class="fas fa-ellipsis-h orange mr-2"></i><span class="raisin">Effectuée le <%= cple.date_done.strftime('%-d') %> <%= I18n.t(:abbr_month_names)[cple.date_done.strftime('%b').to_sym] %> (= en S<%= cple.date_done.strftime('%-W') %>) <%= cple.date_planned.strftime('%-W') == cple.date_done.strftime('%-W') ? "🎉" : "🙃" %> </span></li>
          <% else %>
            <li><i class="fas fa-ellipsis-h orange mr-2"></i><span class="raisin">Pas encore effectuée</span></li>
          <% end %>
        </ul>
        <h3 class="mt-4">Bon à savoir pour cette culture 💡</h3>
        <div class="raisin">
          <div>Espacement : <%= show_replace_nil_with_dash(cple.product.spacing) %></div>
          <div>Nombre de rangs : <%= show_replace_nil_with_dash(cple.product.row_count) %></div>
          <% if cple.product.has_ferti? %>
            <div><%= cple.product.fertilization_needs.type %> : <%= cple.product.fertilization_needs.quantity %><%= cple.product.fertilization_needs.unit %></div>
          <% end %>
        </div>
      </div>
      <div class="drawer-edit-bottom-buttons px-sm-4">
        <div class="btn txt-button-background orange mt-2" data-drawer-trigger aria-controls="drawer-cple-edit<%= cple.id %>">Modifier</div>
      </div>
    </div>
  </div>
</section>
<%= render "crop_plan_line_events/drawer_edit_cple", cple: cple, farm: @farm %>

