<section class="drawer" id="drawer-tour-des-jardins-edit-<%= garden_event.id %>" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="d-flex justify-content-between">
        <div class="drawer__title">
          <div>
            <h2>Modifier</h2>
          </div>
        </div>
        <button class="drawer__close" data-drawer-close aria-label="Fermer le drawer">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="drawer__content drawer-content-with-bottom-buttons">
      <div>
        <%= form_with model: garden_event, url: farm_calendrier_path(farm, garden_event.id, start_date: params[:start_date]), method: :patch, local: true do |form| %>

        <h4 class="mt-4">Description</h4>
        <%= form.text_area :description, value: garden_event&.description, class: "mt-2 w-100", rows: "1" %>
        <h4 class="mt-4">Détails</h4>
        <%= form.text_area :details, value: garden_event&.details, class: "mt-2 w-100", rows: "1" %>
        <h4 class="mt-4">Commentaire</h4>
        <%= form.text_area :comment, value: garden_event&.comment, class: "mt-2 w-100", rows: "1" %>
        <% if !garden_event.is_done? %>
          <h4 class="mt-4">Prévu pour la semaine</h4>
          <%= form.number_field :planned_week, in: 1..52, value: garden_event.date.strftime("%W") %>
        <% end %>
        <% if garden_event.is_done? %>
          <h4 class="mt-4">Activité effectuée le...</h4>
          <%= form.date_field :date_done, value: garden_event.date_done&.to_date, class: "w-75" %>
          <div>
            <%= form.check_box :cancel_done %><span class="raisin small ml-2">Si tu as marqué l'activité comme effectuée par erreur, coche cette case </span>
          </div>
        <% end %>
      </div>
      <div class="drawer-edit-bottom-buttons px-sm-4">
        <div><%= form.submit value: "Valider", class: "btn txt-button-background olive mt-2", 'data-disable-with': "..." %></div>
        <div><%= link_to "Supprimer", farm_calendrier_path(farm, garden_event.id, start_date: params[:start_date]), method: :delete, class: "btn txt-button-background red mt-2", data: { confirm: "T'es #{current_user.is_female? ? 'sûre' : 'sûr'} ? 🤨"} %></div>
      </div>
      <% end %>
    </div>
  </div>
</section>
