<div class="mb-4 mb-sm-0 dashboard-crop-plan-line-card green w-48-desktop">
  <div class="card-colored-top-part-fixed-color green">
    <div class="card-top-part-text">From the plan de culture</div>
  </div>
  <div class="card-bottom-part">
    <div class="card-bottom-part-text">
      <div class="mt-3">
        <% if !week_planting.empty? %>
          <h3>Plantation et semis directs</h3>
        <% end %>
        <% week_planting.each do |planting_event| %>
          <div class="d-flex justify-content-between card-list-item-block">
            <div class="card-list-item-left-block">
              <div class="desktop_only">
                <%= link_to farm_crop_plan_line_event_path(farm, planting_event, event_done: true, start_date: params[:start_date]), method: :patch do %>
                  <div class="round-button <%= planting_event.is_done? ? 'olive' : 'green' %> m-2">
                    <i class="fas fa-check round-txt-button"></i>
                  </div>
                <% end %>
              </div>
              <div class="card-list-item-main-info-block">
                <div>
                  <p><%= planting_event.product.name.capitalize %></p>
                </div>
                <div class="card-list-item-second-line"><%= planting_event.bed.garden.name %> - <%= planting_event.bed.name %></div>
              </div>
            </div>
            <div class="d-flex justify-content-between card-list-item-round-button-block">
              <div>
                <%= link_to farm_crop_plan_line_event_path(farm, planting_event, event_done: true, start_date: params[:start_date]), method: :patch do %>
                  <div class="round-button <%= planting_event.is_done? ? 'olive' : 'green' %> mobile_only m-2">
                    <i class="fas fa-check round-txt-button"></i>
                  </div>
                <% end %>
              </div>
              <div class="d-flex">
                <div class="round-button green m-2" data-drawer-trigger aria-controls="drawer-info-cple-<%= planting_event.id %>" aria-expanded="false">
                  <i class="fas fa-search round-txt-button"></i>
                </div>
                <% if planting_event.has_comment? || planting_event.crop_plan_line.has_comment? %>
                  <div class="round-button green m-2" data-drawer-trigger aria-controls="drawer-comment-cple-<%= planting_event.id %>" aria-expanded="false">
                    <i class="fas fa-comment round-txt-button"></i>
                  </div>
                <% else %>
                  <div class="round-button lightgrey m-2" data-drawer-trigger aria-controls="drawer-comment-cple-<%= planting_event.id %>" aria-expanded="false">
                    <i class="fas fa-comment round-txt-button"></i>
                  </div>
                <% end %>
                <%= link_to farm_crop_plan_line_event_path(farm, planting_event, postpone: true, start_date: params[:start_date]), method: :patch do %>
                  <div class="round-button orange m-2">
                    <i class="fas fa-redo-alt round-txt-button"></i>
                  </div>
                <% end %>
              </div>


              <div class="user-button-event">
                <% if planting_event.has_users? %>
                  <div class="dropleft">
                    <div class="dropdown-toggle <%= 'd-flex' if planting_event.has_multiple_users? %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <% planting_event.users.each do |user| %>
                        <div class="d-flex justify-content-end <%= 'ml-minus-24' if planting_event.has_multiple_users? %>">
                          <div class="txt-avatar m-2 pointer <%= user.color %>"><%= user.initial %></div>
                        </div>
                      <% end %>
                    </div>
                    <div class="dropdown-menu">
                      <div class="d-flex">
                        <% workers.each do |worker| %>
                          <% if planting_event.is_user?(worker) %>
                            <%= link_to farm_crop_plan_line_user_event_path(farm, planting_event.user_event(worker.id), start_date: params[:start_date]), :method => :delete do %>
                              <div class="d-flex pr-1 pointer">
                                <div class="txt-avatar m-2 <%= worker.color %>">
                                  <%= worker.initial %>
                                  <div class="delete-user">x</div>
                                </div>
                              </div>
                            <% end %>
                          <% else %>
                            <%= link_to farm_crop_plan_line_user_events_path(event: planting_event, worker: worker.id, start_date: params[:start_date]), :method => :post do %>
                              <div class="d-flex pr-1 pointer">
                                <div class="txt-avatar m-2 <%= worker.color %>">
                                  <%= worker.initial %>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div class="dropleft">
                    <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="d-flex justify-content-end">
                        <div class="round-button green m-2">
                          <i class="fas fa-user-plus round-txt-button"></i>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-menu">
                      <div class="d-flex">
                        <% workers.each do |worker| %>
                          <%= link_to farm_crop_plan_line_user_events_path(event: planting_event, worker: worker.id, start_date: params[:start_date]), :method => :post do %>
                            <div class="d-flex pr-1 pointer">
                              <div class="txt-avatar m-2 <%= worker.color %>">
                                <%= worker.initial %>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

            </div>
          </div>
          <!-- drawer commentaire -->
          <section class="drawer" id="drawer-comment-cple-<%= planting_event.id %>" data-drawer-target>
              <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
              <div class="drawer__wrapper">
                <div class="drawer__header">
                  <div class="d-flex justify-content-between">
                    <div class="drawer__title">
                      <div class="drawer__title">
                        <div>
                          <h2><%= planting_event.product.name.capitalize %></h2>
                        </div>
                        <div class="drawer-title-second-line"><%= planting_event.bed.garden.name %> - <%= planting_event.bed.name %></div>
                      </div>
                    </div>
                    <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="drawer__content drawer-content-with-bottom-buttons">
                  <div>
                    <h3 class="pt-3">Commentaire</h3>
                    <% if !planting_event.crop_plan_line.has_comment? && !planting_event.has_comment? %>
                      <p>Pas de commentaire. Si tu as des choses à dire, clique <span class="pointer orange"><span class="pointer orange"  data-drawer-trigger aria-controls="drawer-cple-add-comment-<%= planting_event.id %>" aria-expanded="false">LÀ !</span></p>
                    <% end %>
                    <% if planting_event.crop_plan_line.has_comment? %>
                      <h5>Sur la ligne de plan de culture</h5>
                      <p class="pl-4">
                        <%= planting_event.crop_plan_line.comment.capitalize %>
                      <p>
                      <i class="fas fa-times"></i>
                    <% end %>
                    <% if planting_event.has_comment? %>
                      <h5 class="<%= 'pt-4' if planting_event.crop_plan_line.has_comment? %>">Sur l'activité</h5>
                      <div class="d-flex justify-content-between">
                        <p class="pl-4">
                          <%= planting_event.comment.capitalize %>
                        <p>
                        <%= link_to farm_crop_plan_line_event_path(farm, planting_event, delete_comment: true, start_date: params[:start_date]), class: "text-white-important", method: :patch do%><div class="round-button red mx-2 mt-0 pt-6"><i class="fas fa-trash round-txt-button"></i></div><% end %>
                      </div>
                    <% end %>
                  </div>
                <div class="drawer-edit-bottom-buttons px-sm-4">
                  <div <%= 'hidden' if !planting_event.has_comment? %> class="txt-button-background orange btn mt-2"  data-drawer-trigger aria-controls="drawer-cple-edit-comment-<%= planting_event.id %>" aria-expanded="false">Modifier</div>
                </div>
              </div>
            </div>
          </section>

          <!-- drawer edit comment -->
          <%= render "pages/dashboard_drawers/drawer_edit_comment_crop_plan_line", cple: planting_event, farm: @farm %>

          <!-- drawer new comment -->
          <%= render "pages/dashboard_drawers/drawer_add_comment_crop_plan_line", cple: planting_event, farm: @farm %>
          <!-- drawer info -->
          <section class="drawer" id="drawer-info-cple-<%= planting_event.id %>" data-drawer-target>
            <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
            <div class="drawer__wrapper">
              <div class="drawer__header">
                <div class="d-flex justify-content-between">
                  <div class="drawer__title">
                    <div>
                      <h2><%= planting_event.product.name.capitalize %></h2>
                    </div>
                    <div class="drawer-title-second-line"><%= planting_event.bed.garden.name %> - <%= planting_event.bed.name %></div>
                  </div>
                  <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="drawer__content">
                Ça vient, ça vient 🏃🏻‍♀️
<!--            <h4 class="pt-3">Comment planter</h4>
 -->          </div>
            </div>
          </section>
        <% end %>

        <!-- <div class="mt-3">
          <h3>Semis en pépinière</h3>
          <div class="d-flex justify-content-between card-list-item-block">
            <div class="card-list-item-left-block">
              <div class="desktop_only">
                <div class="round-button green m-2">
                  <i class="fas fa-check round-txt-button"></i>
                </div>
              </div>
              <div class="card-list-item-main-info-block">
                <div>
                  <p>Courge</p>
                </div>
                <div class="card-list-item-second-line">100 godets | 2 graines par godet</div>
              </div>
            </div>
            <div class="d-flex justify-content-between card-list-item-round-button-block">
              <div>
                <div class="round-button green mobile_only m-2">
                  <i class="fas fa-check round-txt-button"></i>
                </div>
              </div>
              <div class="d-flex">
                <div class="round-button lightgrey m-2">
                  <i class="fas fa-comment round-txt-button"></i>
                </div>
                <div class="round-button orange m-2">
                  <i class="fas fa-redo-alt round-txt-button"></i>
                </div>
              </div>
              <div>
                <div class="txt-avatar olive m-2"><%= current_user.initial %></div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="mt-3">
          <% if !week_bed_preparation_2_weeks.empty? || !week_bed_preparation_1_week.empty? %>
            <h3>Préparation planche</h3>
          <% end %>
          <% if !week_bed_preparation_1_week.empty? %>
            <a class="collapsable-garden-name" data-toggle="collapse" href="#collapse-next-week-<%= params[:start_date] %>" aria-expanded="false" aria-controls="collapse-next-week-<%= params[:start_date] %>">
              <div class="d-flex"><h5>Pour plantation la semaine pro</h5><i class="fa" aria-hidden="true"></i></div>
            </a>
            <div class="collapse show" id="collapse-next-week-<%= params[:start_date] %>">
              <% week_bed_preparation_1_week.each do |preparing_event| %>
                <div class="d-flex justify-content-between card-list-item-block">
                  <div class="card-list-item-left-block">
                    <div class="desktop_only">
                      <%= link_to farm_crop_plan_line_event_path(farm, preparing_event, event_done: true, start_date: params[:start_date]), method: :patch do %>
                        <div class="round-button green <%= preparing_event.is_done? ? 'olive' : 'green' %> m-2">
                          <i class="fas fa-check round-txt-button"></i>
                        </div>
                      <% end %>
                    </div>
                    <div class="card-list-item-main-info-block">
                      <div>
                        <p><%= preparing_event.bed.garden.name %> - <%= preparing_event.bed.name %></p>
                      </div>
                      <div class="card-list-item-second-line"><%= preparing_event.product.name.capitalize %></div>
                      <div class="card-list-item-second-line"><!-- 700g Patenkali - 2kg Bioguanor --></div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between card-list-item-round-button-block">
                    <div>
                      <%= link_to farm_crop_plan_line_event_path(farm, preparing_event, event_done: true, start_date: params[:start_date]), method: :patch do %>
                        <div class="round-button <%= preparing_event.is_done? ? 'olive' : 'green' %> mobile_only m-2">
                          <i class="fas fa-check round-txt-button"></i>
                        </div>
                      <% end %>
                    </div>
                    <div class="d-flex">
                      <div class="round-button green m-2" data-drawer-trigger aria-controls="drawer-info-preparing-cple-<%= preparing_event.id %>" aria-expanded="false">
                        <i class="fas fa-search round-txt-button"></i>
                      </div>
                      <% if preparing_event.has_comment? || preparing_event.crop_plan_line.has_comment? %>
                        <div class="round-button green m-2" data-drawer-trigger aria-controls="drawer-comment-cple-<%= preparing_event.id %>" aria-expanded="false">
                          <i class="fas fa-comment round-txt-button"></i>
                        </div>
                      <% else %>
                        <div class="round-button lightgrey m-2"  data-drawer-trigger aria-controls="drawer-comment-cple-<%= preparing_event.id %>" aria-expanded="false">
                          <i class="fas fa-comment round-txt-button"></i>
                        </div>
                      <% end %>
                      <!-- POSTPONE postpone -->
                       <%= link_to farm_crop_plan_line_event_path(farm, preparing_event, postpone: true, start_date: params[:start_date], preparing: true), method: :patch do %>
                        <div class="round-button orange m-2">
                          <i class="fas fa-redo-alt round-txt-button"></i>
                        </div>
                      <% end %>
                    </div>
                    <div class="user-button-event">
                      <% if preparing_event.has_users? %>
                        <div class="dropleft">
                          <div class="dropdown-toggle <%= 'd-flex' if preparing_event.has_multiple_users? %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% preparing_event.users.each do |user| %>
                              <div class="d-flex justify-content-end <%= 'ml-minus-24' if preparing_event.has_multiple_users? %>">
                                <div class="txt-avatar m-2 pointer <%= user.color %>"><%= user.initial %></div>
                              </div>
                            <% end %>
                          </div>
                          <div class="dropdown-menu">
                            <div class="d-flex">
                              <% workers.each do |worker| %>
                                <% if preparing_event.is_user?(worker) %>
                                  <%= link_to farm_crop_plan_line_user_event_path(farm, preparing_event.user_event(worker.id), start_date: params[:start_date]), :method => :delete do %>
                                    <div class="d-flex pr-1 pointer">
                                      <div class="txt-avatar m-2 <%= worker.color %>">
                                        <%= worker.initial %>
                                        <div class="delete-user">x</div>
                                      </div>
                                    </div>
                                  <% end %>
                                <% else %>
                                  <%= link_to farm_crop_plan_line_user_events_path(event: preparing_event, worker: worker.id, start_date: params[:start_date]), :method => :post do %>
                                    <div class="d-flex pr-1 pointer">
                                      <div class="txt-avatar m-2 <%= worker.color %>">
                                        <%= worker.initial %>
                                      </div>
                                    </div>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="dropleft">
                          <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="d-flex justify-content-end">
                              <div class="round-button green m-2">
                                <i class="fas fa-user-plus round-txt-button"></i>
                              </div>
                            </div>
                          </div>
                          <div class="dropdown-menu">
                            <div class="d-flex">
                              <% workers.each do |worker| %>
                                <%= link_to farm_crop_plan_line_user_events_path(event: preparing_event, worker: worker.id, start_date: params[:start_date]), :method => :post do %>
                                  <div class="d-flex pr-1 pointer">
                                    <div class="txt-avatar m-2 <%= worker.color %>">
                                      <%= worker.initial %>
                                    </div>
                                  </div>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- drawer commentaire -->
                <section class="drawer" id="drawer-comment-cple-<%= preparing_event.id %>" data-drawer-target>
                  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                  <div class="drawer__wrapper">
                    <div class="drawer__header">
                      <div class="d-flex justify-content-between">
                        <div class="drawer__title">
                          <div>
                            <h2><%= preparing_event.bed.garden.name %> - <%= preparing_event.bed.name %></h2>
                          </div>
                          <div class="drawer-title-second-line"><%= preparing_event.product.name.capitalize %></div>
                        </div>
                        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="drawer__content drawer-content-with-bottom-buttons">
                      <div>
                        <h3 class="pt-3">Commentaire</h3>
                        <% if !preparing_event.crop_plan_line.has_comment? && !preparing_event.has_comment? %>
                          <p>Pas de commentaire. Si tu as des choses à dire, clique <span class="pointer orange"><span class="pointer orange"  data-drawer-trigger aria-controls="drawer-cple-add-comment-<%= preparing_event.id %>" aria-expanded="false">LÀ !</span></p>
                        <% end %>
                        <% if preparing_event.crop_plan_line.has_comment? %>
                          <h5>Sur la ligne de plan de culture</h5>
                          <p class="pl-4">
                            <%= preparing_event.crop_plan_line.comment.capitalize %>
                          <p>
                        <% end %>
                        <% if preparing_event.has_comment? %>
                          <h5 class="<%= 'pt-4' if preparing_event.crop_plan_line.has_comment? %>">Sur l'activité</h5>
                          <div class="d-flex justify-content-between">
                            <p class="pl-4">
                              <%= preparing_event.comment.capitalize %>
                            <p>
                            <%= link_to farm_crop_plan_line_event_path(farm, preparing_event, delete_comment: true, start_date: params[:start_date]), class: "text-white-important", method: :patch do%><div class="round-button red mx-2 mt-0 pt-6"><i class="fas fa-trash round-txt-button"></i></div><% end %>
                          </div>
                        <% end %>
                      </div>
                      <div class="drawer-edit-bottom-buttons px-sm-4">
                        <div <%= 'hidden' if !preparing_event.has_comment? %> class="txt-button-background orange btn mt-2" data-drawer-trigger aria-controls="drawer-cple-edit-comment-<%= preparing_event.id %>" aria-expanded="false">Modifier</div>
                      </div>
                    </div>
                  </div>
                </section>

                <!-- drawer edit comment -->
                <%= render "pages/dashboard_drawers/drawer_edit_comment_crop_plan_line", cple: preparing_event, farm: @farm %>


                <!-- drawer new comment -->
                <%= render "pages/dashboard_drawers/drawer_add_comment_crop_plan_line", cple: preparing_event, farm: @farm %>

                <!-- drawer info -->
                <section class="drawer" id="drawer-info-preparing-cple-<%= preparing_event.id %>" data-drawer-target>
                  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                  <div class="drawer__wrapper">
                    <div class="drawer__header">
                      <div class="d-flex justify-content-between">
                        <div class="drawer__title">
                          <div>
                            <h2><%= preparing_event.product.name.capitalize %></h2>
                          </div>
                          <div class="drawer-title-second-line"><%= preparing_event.bed.garden.name %> - <%= preparing_event.bed.name %></div>
                        </div>
                        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="drawer__content">
                      Ça vient, ça vient 🏃🏻‍♀️
                      <!-- <h4 class="pt-3">À préparer</h4> -->
                    </div>
                  </div>
                </section>
              <% end %>
            </div>
          <% end %>

          <% if !week_bed_preparation_2_weeks.empty? %>
            <a class="collapsable-garden-name collapsed" data-toggle="collapse" href="#collapse-two-weeks-<%= params[:start_date] %>" aria-expanded="false" aria-controls="collapse-two-weeks-<%= params[:start_date] %>">
              <div class="d-flex mt-2"><h5>Pour plantation dans deux semaines</h5><i class="fa" aria-hidden="true"></i></div>
            </a>
            <div class="collapse" id="collapse-two-weeks-<%= params[:start_date] %>">
              <% week_bed_preparation_2_weeks.each do |preparing_event| %>
                <div class="d-flex justify-content-between card-list-item-block">
                  <div class="card-list-item-left-block">
                    <div class="desktop_only">
                      <%= link_to farm_crop_plan_line_event_path(farm, preparing_event, event_done: true, start_date: params[:start_date]), method: :patch do %>
                        <div class="round-button green <%= preparing_event.is_done? ? 'olive' : 'green' %> m-2">
                          <i class="fas fa-check round-txt-button"></i>
                        </div>
                      <% end %>
                    </div>
                    <div class="card-list-item-main-info-block">
                      <div>
                        <p><%= preparing_event.bed.garden.name %> - <%= preparing_event.bed.name %></p>
                      </div>
                      <div class="card-list-item-second-line"><%= preparing_event.product.name.capitalize %></div>
                      <div class="card-list-item-second-line"><!-- 700g Patenkali - 2kg Bioguanor --></div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between card-list-item-round-button-block">
                    <div>
                      <%= link_to farm_crop_plan_line_event_path(farm, preparing_event, event_done: true, start_date: params[:start_date]), method: :patch do %>
                        <div class="round-button <%= preparing_event.is_done? ? 'olive' : 'green' %> mobile_only m-2">
                          <i class="fas fa-check round-txt-button"></i>
                        </div>
                      <% end %>
                    </div>
                    <div class="d-flex">
                      <div class="round-button green m-2" data-drawer-trigger aria-controls="drawer-info-cple-<%= preparing_event.id %>" aria-expanded="false">
                        <i class="fas fa-search round-txt-button"></i>
                      </div>
                      <% if preparing_event.has_comment? || preparing_event.crop_plan_line.has_comment?  %>
                        <div class="round-button green m-2" data-drawer-trigger aria-controls="drawer-comment-cple-<%= preparing_event.id %>" aria-expanded="false">
                          <i class="fas fa-comment round-txt-button"></i>
                        </div>
                      <% else %>
                        <div class="round-button lightgrey m-2" data-drawer-trigger aria-controls="drawer-comment-cple-<%= preparing_event.id %>" aria-expanded="false">
                          <i class="fas fa-comment round-txt-button"></i>
                        </div>
                      <% end %>
                      <!-- POSTPONE postpone -->
                      <%= link_to farm_crop_plan_line_event_path(farm, preparing_event, postpone: true, start_date: params[:start_date], preparing: true), method: :patch do %>
                        <div class="round-button orange m-2">
                          <i class="fas fa-redo-alt round-txt-button"></i>
                        </div>
                      <% end %>
                    </div>
                    <div class="user-button-event">
                      <% if preparing_event.has_users? %>
                        <div class="dropleft">
                          <div class="dropdown-toggle <%= 'd-flex' if preparing_event.has_multiple_users? %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <% preparing_event.users.each do |user| %>
                              <div class="d-flex justify-content-end <%= 'ml-minus-24' if preparing_event.has_multiple_users? %>">
                                <div class="txt-avatar m-2 pointer <%= user.color %>"><%= user.initial %></div>
                              </div>
                            <% end %>
                          </div>
                          <div class="dropdown-menu">
                            <div class="d-flex">
                              <% workers.each do |worker| %>
                                <% if preparing_event.is_user?(worker) %>
                                  <%= link_to farm_crop_plan_line_user_event_path(farm, preparing_event.user_event(worker.id), start_date: params[:start_date]), :method => :delete do %>
                                    <div class="d-flex pr-1 pointer">
                                      <div class="txt-avatar m-2 <%= worker.color %>">
                                        <%= worker.initial %>
                                        <div class="delete-user">x</div>
                                      </div>
                                    </div>
                                  <% end %>
                                <% else %>
                                  <%= link_to farm_crop_plan_line_user_events_path(event: preparing_event, worker: worker.id, start_date: params[:start_date]), :method => :post do %>
                                    <div class="d-flex pr-1 pointer">
                                      <div class="txt-avatar m-2 <%= worker.color %>">
                                        <%= worker.initial %>
                                      </div>
                                    </div>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% else %>
                        <div class="dropleft">
                          <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="d-flex justify-content-end">
                              <div class="round-button green m-2">
                                <i class="fas fa-user-plus round-txt-button"></i>
                              </div>
                            </div>
                          </div>
                          <div class="dropdown-menu">
                            <div class="d-flex">
                              <% workers.each do |worker| %>
                                <%= link_to farm_crop_plan_line_user_events_path(event: preparing_event, worker: worker.id, start_date: params[:start_date]), :method => :post do %>
                                  <div class="d-flex pr-1 pointer">
                                    <div class="txt-avatar m-2 <%= worker.color %>">
                                      <%= worker.initial %>
                                    </div>
                                  </div>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- drawer commentaire -->
                <section class="drawer" id="drawer-comment-cple-<%= preparing_event.id %>" data-drawer-target>
                  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                  <div class="drawer__wrapper">
                    <div class="drawer__header">
                      <div class="d-flex justify-content-between">
                        <div class="drawer__title">
                          <div>
                            <h2><%= preparing_event.bed.garden.name %> - <%= preparing_event.bed.name %></h2>
                          </div>
                          <div class="drawer-title-second-line"><%= preparing_event.product.name.capitalize %></div>
                        </div>
                        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="drawer__content drawer-content-with-bottom-buttons">
                      <div>
                        <h3 class="pt-3">Commentaire</h3>
                        <% if !preparing_event.crop_plan_line.has_comment? && !preparing_event.has_comment? %>
                          <p>Pas de commentaire. Si tu as des choses à dire, clique <span class="pointer orange"  data-drawer-trigger aria-controls="drawer-cple-add-comment-<%= preparing_event.id %>" aria-expanded="false">LÀ !</span></p>
                        <% end %>
                        <% if preparing_event.crop_plan_line.has_comment? %>
                          <h5>Sur la ligne de plan de culture</h5>
                          <p class="pl-4">
                            <%= preparing_event.crop_plan_line.comment.capitalize %>
                          <p>
                        <% end %>
                        <% if preparing_event.has_comment? %>
                          <h5 class="<%= 'pt-4' if preparing_event.crop_plan_line.has_comment? %>">Sur l'activité</h5>
                          <div class="d-flex justify-content-between">
                            <p class="pl-4">
                              <%= preparing_event.comment.capitalize %>
                            <p>
                            <%= link_to farm_crop_plan_line_event_path(farm, preparing_event, delete_comment: true, start_date: params[:start_date]), class: "text-white-important", method: :patch do%><div class="round-button red mx-2 mt-0 pt-6"><i class="fas fa-trash round-txt-button"></i></div><% end %>
                          </div>
                        <% end %>
                      </div>
                    <div class="drawer-edit-bottom-buttons px-sm-4">
                      <div <%= 'hidden' if !preparing_event.has_comment? %> class="txt-button-background orange btn mt-2" data-drawer-trigger aria-controls="drawer-cple-edit-comment-<%= preparing_event.id %>" aria-expanded="false">Modifier</div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- drawer edit comment -->
              <%= render "pages/dashboard_drawers/drawer_edit_comment_crop_plan_line", cple: preparing_event, farm: @farm %>

                <!-- drawer new comment -->
                <%= render "pages/dashboard_drawers/drawer_add_comment_crop_plan_line", cple: preparing_event, farm: @farm %>
                <!-- drawer info -->
                <section class="drawer" id="drawer-info-cple-<%= preparing_event.id %>" data-drawer-target>
                  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                  <div class="drawer__wrapper">
                    <div class="drawer__header">
                      <div class="d-flex justify-content-between">
                        <div class="drawer__title">
                          <div>
                            <h2><%= preparing_event.product.name.capitalize %></h2>
                          </div>
                          <div class="drawer-title-second-line"><%= preparing_event.bed.garden.name %> - <%= preparing_event.bed.name %></div>
                        </div>
                        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="drawer__content">
                      Ça vient, ça vient 🏃🏻‍♀️
<!--                       <h4 class="pt-3">À préparer</h4>
 -->                    </div>
                  </div>
                </section>
              <% end %>
            </div>
          <% end %>
        </div>


        <div class="mt-3">
          <% if !week_harvesting.empty? %>
            <h3>Dispo pour la récolte cette semaine</h3>
          <% end %>
          <div class="d-flex flex-wrap justify-content-center">
            <% week_harvesting.each do |harvesting| %>
            <div class="d-flex px-sm-2 px-1">
              <div class="d-flex">
                <div class="align-self-center">
                  <p><%= harvesting.product.name.capitalize %> | </p>
                </div>
                <div class="card-list-item-second-line align-self-center"> <%= harvesting.bed.garden.name %> - <%= harvesting.bed.name %></div>
              </div>
              <% if week_harvesting[0].harvest_start_date.strftime("%W") == params[:start_date].to_date.strftime("%W") %>
                <%= link_to farm_plandeculture_path(farm, harvesting, postpone: true, start_date: params[:start_date], harvesting: true), method: :patch do %>
                  <div class="round-button orange m-sm-2 m-1">
                    <i class="fas fa-redo-alt round-txt-button"></i>
                  </div>
                <% end %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="decharge-mentale-anchor" class="d-flex justify-content-end card-bottom-section-with-icon">
      <%= link_to farm_plandeculture_index_path(current_user.farm_id) do %>
        <div class="card-bottom-right-triangle green">
          <i class="fas fa-seedling" style="padding: 3px 0;"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
