<div class="container mt-4 custom-container">
  <div class="page-header non-scrolled-page-header scrollable-page-header d-flex justify-content-between">
    <h2>Plan de culture</h2>
    <div class="pr-38 d-flex">
      <%= link_to farm_plandeculture_index_path(@farm.id, format: "xlsx") do %>
        <div class="round-button green mr-4"><i class="fas fa-download round-txt-button"></i></div>
      <% end %>

    </div>
  </div>

  <div class="page-content">
  </div>
  <div class="d-flex crop-plan-months">
    <div class="crop-plan-title-txt text-left crop-plan-left-column">Planche</div>
    <div class="d-flex justify-content-between crop-plan-right-column">
      <% @abbr_month_names.each do |month| %>
        <div class="crop-plan-title-txt desktop_only">
          <%= month.capitalize %>
        </div>
        <div class="crop-plan-title-txt mobile_only">
          <%= month.capitalize[0] %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <ul class="list-unstyled crop-plan-garden-names">
      <% @gardens.each do |garden| %>
        <li>
          <div class="d-flex">
            <div class="px-sm-4 text-left crop-plan-left-column mobile_only">
              <a class="collapsable-garden-name collapsed" data-toggle="collapse" href="#collapse<%= garden.id %>" aria-expanded="false" aria-controls="collapse<%= garden.id %>">
                <%= garden.name.length > 9 ? garden.name.split.map(&:capitalize).join(' ')[0..7] + '.' : garden.name %></i>
              </a>
            </div>
            <div class="px-sm-4 text-left crop-plan-left-column desktop_only">
              <a class="collapsable-garden-name collapsed" data-toggle="collapse" href="#collapse<%= garden.id %>" aria-expanded="false" aria-controls="collapse<%= garden.id %>">
                <%= garden.name %> <i class="fa" aria-hidden="true"></i>
              </a>
            </div>
            <div class="crop-plan-right-column">
<!--             <div class="vertical-line-today" style="margin-left: <%= @percentage_number_days_since_first_day_of_year %>%">
            </div>
 -->            </div>
          </div>
        </li>
        <div class="collapse" id="collapse<%= garden.id %>">
          <ul class="list-unstyled">
            <% garden.beds.each do |bed| %>
              <li>
                <div class="d-flex">
                  <div class="pl-3 pl-sm-4 text-left crop-plan-left-column">
                    <%= bed.name %>
                  </div>
                  <div class="crop-plan-right-column d-flex position-relative">
             <!--        <div class="vertical-line-today" style="margin-left: <%= @percentage_number_days_since_first_day_of_year %>%;">
                    </div> -->
                    <% bed.crop_plan_lines.each do |cpl| %>
                      <div data-drawer-trigger aria-controls="drawer-cpl-show<%= cpl.id %>" class="pointer">
                        <div class="crop-plan-line-planted position-absolute" style="background: <%= cpl.product.color %>; left: <%= find_day_correspondence(cpl.planting_date.strftime('%j').to_i) %>%; width: <%= find_day_correspondence((cpl.harvest_start_date.strftime('%j').to_i - cpl.planting_date.strftime('%j').to_i)) %>%;">
                          <!-- <div><%= cpl.planting_date.strftime('%W').to_i %></div> -->
                          <div class="margin-0-auto"><%= cpl.has_variet? ? cpl.vegetable_variet.name.capitalize : cpl.product.name.capitalize %></div>
                        </div>
                        <div class="crop-plan-line-harvesting position-absolute" style="background: <%= cpl.product.color %>; left: <%= find_day_correspondence(cpl.harvest_start_date.strftime('%j').to_i) %>%; width: <%= find_day_correspondence((cpl.harvest_end_date.strftime('%j').to_i - cpl.harvest_start_date.strftime('%j').to_i)) %>%;">
                        </div>
                      </div>
                      <%= render "drawer_info_cpl", cpl: cpl %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </ul>
  </div>

</div>
