<div class="container mt-4 custom-container">
  <div class="page-header non-scrolled-page-header scrollable-page-header">
    <h2>Plan de culture</h2>
  </div>

  <div class="page-content">
  </div>
  <div class="d-flex crop-plan-months">
    <div class="crop-plan-title-txt text-left crop-plan-left-column">Planche</div>
    <div class="d-flex justify-content-between crop-plan-right-column">
      <% @abbr_month_names.each do |month| %>
        <div class="crop-plan-title-txt desktop_only">
          <%= month.capitalize %>
        </div>
        <div class="crop-plan-title-txt mobile_only">
          <%= month.capitalize[0] %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <ul class="list-unstyled crop-plan-garden-names">
      <% @gardens.each do |garden| %>
        <li>
          <div class="d-flex">
            <div class="px-sm-4 text-left crop-plan-left-column mobile_only">
              <a class="collapsable-garden-name collapsed" data-toggle="collapse" href="#collapse<%= garden.id %>" aria-expanded="false" aria-controls="collapse<%= garden.id %>">
                <%= garden.name.length > 9 ? garden.name.split.map(&:capitalize).join(' ')[0..7] + '.' : garden.name %></i>
              </a>
            </div>
            <div class="px-sm-4 text-left crop-plan-left-column desktop_only">
              <a class="collapsable-garden-name collapsed" data-toggle="collapse" href="#collapse<%= garden.id %>" aria-expanded="false" aria-controls="collapse<%= garden.id %>">
                <%= garden.name %> <i class="fa" aria-hidden="true"></i>
              </a>
            </div>
            <div class="crop-plan-right-column">
<!--             <div class="vertical-line-today" style="margin-left: <%= @percentage_number_days_since_first_day_of_year %>%">
            </div>
 -->            </div>
          </div>
        </li>
        <div class="collapse" id="collapse<%= garden.id %>">
          <ul class="list-unstyled">
            <% garden.beds.each do |bed| %>
              <li>
                <div class="d-flex">
                  <div class="pl-3 pl-sm-4 text-left crop-plan-left-column">
                    <%= bed.name %>
                  </div>
                  <div class="crop-plan-right-column d-flex position-relative">
             <!--        <div class="vertical-line-today" style="margin-left: <%= @percentage_number_days_since_first_day_of_year %>%;">
                    </div> -->
                    <% bed.crop_plan_lines.each do |cpl| %>
                      <div data-drawer-trigger aria-controls="drawer-cpl-show<%= cpl.id %>" class="pointer">
                        <div class="crop-plan-line-planted position-absolute" style="background: <%= cpl.product.color %>; left: <%= find_day_correspondence(cpl.planting_date.strftime('%j').to_i) %>%; width: <%= find_day_correspondence((cpl.harvest_start_date.strftime('%j').to_i - cpl.planting_date.strftime('%j').to_i)) %>%;">
                          <!-- <div><%= cpl.planting_date.strftime('%W').to_i %></div> -->
                          <div class="margin-0-auto"><%= cpl.product.name.capitalize %></div>
                        </div>
                        <div class="crop-plan-line-harvesting position-absolute" style="background: <%= cpl.product.color %>; left: <%= find_day_correspondence(cpl.harvest_start_date.strftime('%j').to_i) %>%; width: <%= find_day_correspondence((cpl.harvest_end_date.strftime('%j').to_i - cpl.harvest_start_date.strftime('%j').to_i)) %>%;">
                        </div>
                      </div>
                      <section class="drawer" id="drawer-cpl-show<%= cpl.id %>" data-drawer-target>
                        <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                        <div class="drawer__wrapper">
                          <div class="drawer__header">
                            <div class="d-flex justify-content-between">
                              <div class="drawer__title d-flex">
                                <h1><%= cpl.product.name.capitalize %></h1>
                                <% if cpl.product.photo.attached? %>
                                  <%= cl_image_tag cpl.product.photo.key, class: "drawer-product-img" %>
                                <% end %>
                              </div>
                              <button class="drawer__close" data-drawer-close aria-label="Close Drawer"><i class="fas fa-times"></i></button>
                            </div>
                          </div>
                          <div class="drawer__content">
                            <h2 class="mt-4">Actions</h2>
                            <ul>
                              <% cpl.crop_plan_line_events.sort_by(&:order).each do |cple| %>
                                <li><%= cple.date_planned.strftime('%d/%m')%> :
                                <%= cple.name %>
                                <%= cple.product.name %>
                                <%= cple.bed %></li>
                              <% end %>
                            </ul>
                            <h3>Infos utiles pour cette culture 💡</h3>
                            <div>Espacement : <%= show_replace_nil_with_dash(cpl.product.spacing) %></div>
                            <div>Nombre de rangs : <%= cpl.product.row_count %></div>
                            <div>Perte : <%= cpl.product.loss_percentage %> %</div>
                            <div>Durée de croissance : <%= cpl.product.growth_duration_in_weeks %> semaines</div>
                            <div>Durée de récolte : <%= cpl.product.harvest_duration_in_weeks %> semaines</div>

                            <h3 class="mt-2">Vous prendrez bien un peu de ferti ?</h3>
                          </div>
                        </div>
                      </section>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </ul>
  </div>

</div>

