<div class="container mt-4 custom-container">
  <div class="page-header non-scrolled-page-header scrollable-page-header">
    <h2>Plan de culture</h2>
  </div>

  <div class="page-content">
  </div>
  <div class="d-flex crop-plan-months">
    <div class="crop-plan-title-txt text-left crop-plan-left-column">Planche</div>
    <div class="d-flex justify-content-between crop-plan-right-column">
      <% @abbr_month_names.each do |month| %>
        <div class="crop-plan-title-txt desktop_only">
          <%= month.capitalize %>
        </div>
        <div class="crop-plan-title-txt mobile_only">
          <%= month.capitalize[0] %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <ul class="list-unstyled crop-plan-garden-names">
      <% @gardens.each do |garden| %>
        <li>
          <div class="d-flex">
            <div class="px-sm-4 text-left crop-plan-left-column mobile_only">
              <a class="collapsable-garden-name collapsed" data-toggle="collapse" href="#collapse<%= garden.id %>" aria-expanded="false" aria-controls="collapse<%= garden.id %>">
                <%= garden.name.length > 9 ? garden.name.split.map(&:capitalize).join(' ')[0..7] + '.' : garden.name %></i>
              </a>
            </div>
            <div class="px-sm-4 text-left crop-plan-left-column desktop_only">
              <a class="collapsable-garden-name collapsed" data-toggle="collapse" href="#collapse<%= garden.id %>" aria-expanded="false" aria-controls="collapse<%= garden.id %>">
                <%= garden.name %> <i class="fa" aria-hidden="true"></i>
              </a>
            </div>
            <div class="crop-plan-right-column">
<!--             <div class="vertical-line-today" style="margin-left: <%= @percentage_number_days_since_first_day_of_year %>%">
            </div>
 -->            </div>
          </div>
        </li>
        <div class="collapse" id="collapse<%= garden.id %>">
          <ul class="list-unstyled">
            <% garden.beds.each do |bed| %>
              <li>
                <div class="d-flex">
                  <div class="pl-3 pl-sm-4 text-left crop-plan-left-column">
                    <%= bed.name %>
                  </div>
                  <div class="crop-plan-right-column d-flex">
             <!--        <div class="vertical-line-today" style="margin-left: <%= @percentage_number_days_since_first_day_of_year %>%;">
                    </div> -->
                    <% bed.crop_plan_lines.each do |cpl| %>
                      <div class="crop-plan-line-planted" style="background: <%= cpl.product.color %>; left: <%= get_elapsed_days_since_beginning_of_year(cpl.planting_date.strftime('%j').to_i) %>%; width: <%= get_elapsed_days_since_beginning_of_year((cpl.harvest_start_date.strftime('%j').to_i - cpl.planting_date.strftime('%j').to_i)) %>%;">
                        <!-- <div><%= cpl.planting_date.strftime('%W').to_i %></div> -->
                        <div class="pointer margin-0-auto" data-drawer-trigger aria-controls="drawer-product-show<%= cpl.id %>"><%= cpl.product.name.capitalize %></div>
                      </div>
                      <div class="crop-plan-line-harvesting" style="background: <%= cpl.product.color %>; left: <%= get_elapsed_days_since_beginning_of_year(cpl.planting_date.strftime('%j').to_i) %>%; width: <%= get_elapsed_days_since_beginning_of_year((cpl.harvest_end_date.strftime('%j').to_i - cpl.harvest_start_date.strftime('%j').to_i)) %>%;">
                      </div>
                      <section class="drawer" id="drawer-product-show<%= cpl.id %>" data-drawer-target>
                        <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                        <div class="drawer__wrapper">
                          <div class="drawer__header">
                            <div class="d-flex justify-content-between">
                              <div class="drawer__title d-flex">
                                <h1><%= cpl.product.name.capitalize %></h1>
                                <% if cpl.product.photo.attached? %>
                                  <%= cl_image_tag cpl.product.photo.key, class: "drawer-product-img" %>
                                <% end %>
                              </div>
                              <button class="drawer__close" data-drawer-close aria-label="Close Drawer"><i class="fas fa-times"></i></button>
                            </div>
                          <div style="margin-top: -8px;"><%= cpl.product.product_group.name.capitalize %></div>
                          </div>
                          <div class="drawer__content">
                            <div>Nombre de planches <%= Date.today.strftime('%Y') %> : <%= remove_trailing_zero(cpl.product.yearly_bed_count) %></div>
                            <h2 class="mt-4">Infos culture</h2>
                            <div>Rendement par mètre carré : <%= get_price_in_cents(cpl.product.yield_per_sqm) %></div>
                            <div>Chiffre d'affaires estimé : <%= get_price_in_cents(cpl.product.estimated_turnover) %></div>
                            <div>Espacement : <%= show_replace_nil_with_dash(cpl.product.spacing) %></div>
                            <div>Nombre de rangs : <%= cpl.product.row_count %></div>
                            <div>Perte : <%= cpl.product.loss_percentage %> %</div>
                            <div>Durée de croissance en semaines : <%= cpl.product.growth_duration_in_weeks %></div>
                            <div>Durée de récolte en semaines : <%= cpl.product.harvest_duration_in_weeks %></div>

                            <h2 class="mt-4">Money money money 💵</h2>
                            <div>Prix général : <%= get_price_in_cents(cpl.product.general_price_final_client) %>/<%= cpl.product.general_unit %></div>
                            <div>Prix général intermédiaire : <%= get_price_in_cents(cpl.product.general_price_intermediary) %>/<%= cpl.product.general_unit %></div>
                            <div>Chiffre d'affaires HT : <%= get_price_in_cents(cpl.product.ht_turnover) %></div>
                            <div>Chiffre d'affaires TTC : <%= get_price_in_cents(cpl.product.ttc_turnover) %></div>
                          </div>
                        </div>
                      </section>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </ul>
  </div>

</div>

