<div class="container mt-4 custom-container">
  <div class="page-header non-scrolled-page-header scrollable-page-header">
    <h2><span class="fs-36-24 mr-2"><%= @user.emoji %></span> <%= @user.displayed_name %></h2>
  </div>

  <div class="page-content">
  </div>
    <% if @user.worker %>
      <div class="d-flex justify-content-end mb-4">
        <div class="d-flex">
          <% @workers.each do |worker| %>
            <%= link_to farm_thebest_path(@farm, worker) do  %>
              <div class="d-flex pr-1 pointer">
                <div class="txt-avatar ml-2 <%= worker.color %>">
                  <%= worker.initial %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% if @user.worker %>
    <%= render "worker_show_page", worker: @user %>

  <% else %>
    <%= render "client_show_page", worker: @user %>
  <% end %>
</div>
