<html>
  <head>
    <title>Les Jardins détaillés</title>
  </head>

  <body>
    <div style="text-align: right">
      <div>Numéro de bon de livraison : <%= @delivery_slip.number %></div>
    </div>

    <div class="farm-information">
      <div style="font-size: 24px; font-style: italic;"><%= @farm.full_name %></div>
      <div class="ljd-address">
        <div><%= @farm.address %></div>
        <div><%= @farm.zip_code%> <%= @farm.city %></div>
        <div>SIRET : <%= @farm.siret %></div>
      </div>
    </div>
    <div style="display: flex; justify-content: flex-end">
      <div style="font-size: 24px; font-style: italic; text-align: right; margin-right: 96px"><%= @delivery_slip.outlet_display_name %></div>
      <div style="text-align: right; margin-right: 96px">
        <div><%= @delivery_slip.outlet_address %></div>
        <div><%= @delivery_slip.outlet_zip_code%> <%= @delivery_slip.outlet_city %></div>
      </div>
    </div>



    <div class="file-title">BON DE LIVRAISON</div>
    <div class="details-facture">
      <table class="table" style="margin-top: 36px">
        <thead>
         <tr>
           <th scope="col" style="text-align: left">Légume/Produit</th>
           <th scope="col">Unité</th>
           <th scope="col" style="text-align: right">Quantité</th>
           <th scope="col" style="text-align: right">PU HT</th>
           <th scope="col" style="text-align: right">PU TTC</th>
           <th scope="col" style="text-align: right">Montant HT</th>
           <th scope="col" style="text-align: right">Montant TTC</th>
           <th scope="col"></th>

         </tr>
        </thead>
        <tbody>
          <% @sales_lines.each do |k, v| %>
           <tr>
             <td><%= k[0].name.capitalize %></td>
             <td><%= k[1] %></td>
             <td style="text-align: right"><%= remove_trailing_zero(v[:quantity]) %></td>
             <td style="text-align: right"><%= get_price_in_cents(v[:ht_unit_price]) %></td>
             <td style="text-align: right"><%= get_price_in_cents(v[:ttc_unit_price]) %></td>
             <td style="text-align: right"><%= get_price_in_cents(v[:ht_total]) %></td>
             <td style="text-align: right"><%= get_price_in_cents(v[:ttc_total]) %></td>
           </tr>
          <% end %>
          <tr class="total-line" style="margin-top: 12px">
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td class="total-separation-line" style="text-align: right"><%= get_price_in_cents(@sale.ht_total) %></td>
           <td class="total-separation-line" style="text-align: right"><%= get_price_in_cents(@sale.ttc_total) %></td>
           <td class="total-separation-line" style="text-align: right"></td>
          </tr>
          <tr class="total-lines">
           <td></td>
           <td></td>
           <td></td>
           <td class="total-separation-line" style="text-align: right" colspan="2" style="padding-left: 80px" ><b>Montant à payer</b></td>
           <td class="total-separation-line" style="text-align: right"><b><%= @sale.rounded_ht_total == 0 ? get_price_in_cents(@sale.ht_total) : get_price_in_cents(@sale.rounded_ht_total) %><b></td>
           <td class="total-separation-line" style="text-align: right"><b><%= @sale.rounded_ttc_total == 0 ? get_price_in_cents(@sale.ttc_total) : get_price_in_cents(@sale.rounded_ttc_total) %></b></td>
          </tr>
        </tbody>
       </table>
    </div>

  </body>
</html>
