<div class="navbar navbar-expand-sm navbar-light navbar">
  <div class="d-flex">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <div>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? && current_user.worker %>
        <li class="nav-item">
          <%= link_to farm_dashboard_path(current_user.farm_id), class: "nav-link" do %><%= image_tag "connexion.png", alt: "connexion", class: "login-button" %><% end %>
        </li>
      <% elsif user_signed_in? %>
        <li class="nav-item">
          <%= link_to farm_thebest_path(current_user.farm_id, current_user, start_date: Date.today.beginning_of_week), class: "nav-link" do %><%= image_tag "connexion.png", alt: "connexion", class: "login-button" %><% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %><%= image_tag "connexion.png", alt: "connexion", class: "login-button" %><% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


