<div class="container mt-4 custom-container">
  <%= month_calendar(events: @presence_periods+@calendar_events) do |date, events| %>
    <div data-target="#modal-new-dated-admin-event" class="pointer">
      <div class="event-day" data-date="<%= date %>"><%= date.day %></div>
        <%= render "pages/dashboard/create_dated_admin_event_modal", farm: @farm, event: @new_event, to_calendar: true %>
      </div>
    <!-- DESKTOP -->
      <!-- DESKTOP -->
    <% events.each do |event| %>
        <!-- presence days -->
      <% if !event.is_a? Event %>
        <div class="desktop_only" >
          <div class="d-flex justify-content-around calendar-user-presence-periods">
            <% event.users.each do |user| %>
              <div class="sm-txt-avatar <%= user.color %>"><%= user.initial %></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- events: sale, admin, dated_admin -->
        <div class="bgcolor-<%= event.subcategory_color %> desktop_only">
          <div class="d-flex justify-content-between pt-2 pl-1 pointer" data-drawer-trigger aria-controls="drawer-event-<%= event.id %>" aria-expanded="false">
            <div class="text-left"><%= event.description[0..30] %><%= event.description.length > 31 ? "..." : "" %></div>
            <div class="d-flex flex-wrap">
              <% event.users.each do |user| %>
              <div class="d-flex <%= 'ml-minus-8' if event.has_multiple_users? %>">
                <div class="text-white sm-txt-avatar <%= user.color %>"><%= user.initial %></div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- MOBILE -->
    <% events.each do |event| %>
         <!-- presence days -->
      <% if !event.is_a? Event %>
        <div class="mobile_only">
          <div class="d-flex justify-content-around calendar-user-presence-periods">
            <% event.users.each do |user| %>
              <div class="vsm-txt-avatar <%= user.color %>"><%= user.initial %></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- events: sale, admin, dated_admin -->
        <div class="dashboard-calendar-event bgcolor-<%= event.subcategory_color %> mobile_only">
          <div class="d-flex">
            <% event.users.each do |user| %>
              <div class="m-1 text-white vsm-txt-avatar <%= user.color %>">
                <%= user.initial %>
              </div>
            <% end %>
          </div>
          <div class="d-flex justify-content-between px-1" data-drawer-trigger aria-controls="drawer-event-<%= event.id %>" >
            <div class="text-left">
              <p><%= event.description[0..8] %><%= event.description.length > 9 ? "…" : "" %></p>
            </div>
          </div>
        </div>




        <%= render "pages/dashboard_drawers/drawer_show_dated_admin_event", dated_admin_event: event, farm: @farm, event: event, workers: @workers, to_calendar: true %>

        <%= render "pages/dashboard_drawers/drawer_edit_dated_admin_event", dated_admin_event: event, farm: @farm, event: event, workers: @workers, to_calendar: true %>
      <% end %>
    <% end %>
  <% end %>
</div>


