<%= simple_form_for [farm, vegetable_variet], url: url do |f| %>
  <div>
    <div class="w-48-desktop">
      <h3 class="mt-4">Infos principales</h3>
      <div class="simple-card">
        <%= f.input :name, :label => "Nom", required: true %>
        <%= f.input :details, :label => "Détails" %>
        <%= f.input :product_id, :label => "Légume", selected: vegetable_variet&.product&.name || Product.where(slug: params[:produit])[0].name, collection: @products %>
      </div>
    </div>

  <div class="d-flex">
    <%= f.submit "Valider", class: "btn txt-button mt-4 mx-auto" %>
  </div>
<% end %>
