<div class="container">
  <div class="d-flex">
    <div class="txt-avatar raisin m-2">E</div>
    <div class="txt-avatar green m-2">M</div>
    <div class="txt-avatar olive m-2">A</div>
    <div class="txt-avatar red m-2">Q</div>
    <div class="txt-avatar orange m-2">O</div>
    <div class="txt-avatar lightgrey m-2">N</div>
  </div>
  <div class="d-flex">
    <div class="sm-txt-avatar raisin m-2"></div>
    <div class="sm-txt-avatar green m-2"></div>
    <div class="sm-txt-avatar olive m-2"></div>
    <div class="sm-txt-avatar red m-2"></div>
    <div class="sm-txt-avatar orange m-2"></div>
    <div class="sm-txt-avatar lightgrey m-2"></div>
  </div>
  <div class="d-flex">
    <div class="round-button red m-2"><i class="fas fa-euro-sign round-txt-button"></i></div>
    <div class="round-button orange m-2"><i class="fas fa-pen round-txt-button"></i></div>
    <div class="round-button olive m-2"><i class="fas fa-check round-txt-button"></i></div>
    <div class="round-button green m-2"><i class="fas fa-envelope round-txt-button"></i></div>
    <div class="round-button green m-2"><i class="fas fa-calendar-alt round-txt-button"></i></div>
  </div><div class="d-flex">
    <div class="round-button olive m-2"><i class="fas fa-euro-sign round-txt-button"></i></div>
    <div class="round-button green m-2"><i class="fas fa-search-plus round-txt-button"></i></div>
    <div class="round-button olive m-2"><%= image_tag "panier.png", alt: "panier", class: "round-img-button" %></div>
    <div class="round-button green m-2"><i class="far fa-file-alt round-txt-button"></i></div>
    <div class="round-button red m-2"><i class="fas fa-trash round-txt-button"></i></div>
  </div>
  <h1>Ceci est un header h1</h1>
  <h2>Ceci est un header h2</h2>
  <h3>Ceci est un header h3</h3>
  <h4>Ceci est un header h4, qui est juste d'une autre couleur que le h3</h4>
  <p>Ceci est un bloc de texte basique, blabla bla blabla bla blabla bla, blabla blablabla bla blabla bla blabla bla</p>
  <p>Ceci est un <a href="">lien</a></p>
  <div>
    <h4>Champ de formulaire</h4>
    <input type="text" placeholder="06 71 01 03 01">
  </div>
  <div><input class="search-input mt-2" type="text" placeholder="Recherche"><%= link_to "", about_path, class: "btn fas fa-search search-button" %></div>
  <div><%= link_to "Bouton avec texte", about_path, class: "btn txt-button mt-2" %></div>
  <div><%= link_to "Suppression", about_path, class: "btn txt-button-delete mt-2" %></div>

  <div class="m-4 product-card-fixed-color green">
    <div class="card-colored-top-part-fixed-color green">
      <div class="card-top-part-text"><%= @products[0].name.capitalize %></div>
    </div>
    <%#= cl_image_tag @products[0].photo.key, class: "card-product-img" %>
    <div class="card-bottom-part">
      <div class="card-bottom-part-text">
        <div class="card-main-info-top-right">122 €</div>
        <p class="mt-2">Ceci est un bloc de texte basique, blabla bla blabla</p>
      </div>
      <div class="d-flex justify-content-end">
        <div class="card-bottom-right-triangle"><i class="fas fa-plus"></i></div>
      </div>
    </div>
  </div>
</div>

