<div class="container mt-4 custom-container">

  <!--                        CALENDRIER                            -->
  <%= week_calendar(number_of_weeks: 1, events: @presence_periods+@calendar_events) do |date, events| %>
    <div data-target="#modal-new-dated-admin-event" class="pointer">
      <div class="event-day" data-date="<%= date %>"><%= date.day %></div>

       <%= render "pages/dashboard/create_dated_admin_event_modal", farm: @farm, event: @new_event, to_calendar: false %>
    </div>
      <!-- DESKTOP -->
    <% events.each do |event| %>
        <!-- presence days -->
      <% if !event.is_a? Event %>
        <div class="desktop_only" >
          <div class="d-flex justify-content-around calendar-user-presence-periods">
            <% event.users.each do |user| %>
              <div class="sm-txt-avatar <%= user.color %>"><%= user.initial %></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- events: sale, admin, dated_admin -->
        <div class="bgcolor-<%= event.subcategory_color %> desktop_only">
          <div class="d-flex justify-content-between pt-2 pl-1 pointer d-flex justify-content-between pt-2 pl-1 pointer border-top-lightgrey" data-drawer-trigger aria-controls="drawer-event-<%= event.id %>" aria-expanded="false">
            <div class="text-left"><%= event.description[0..10] %><%= event.description.length > 11 ? "..." : "" %></div>
            <div class="d-flex flex-wrap pl-1">
              <% event.users.each do |user| %>
              <div class="d-flex mt-1 <%= 'ml-minus-4' if event.has_multiple_users? %>">
                <div class="text-white sm-txt-avatar <%= user.color %>"><%= user.initial %></div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- MOBILE -->
    <% events.each do |event| %>
         <!-- presence days -->
      <% if !event.is_a? Event %>
        <div class="mobile_only">
          <div class="d-flex justify-content-around calendar-user-presence-periods">
            <% event.users.each do |user| %>
              <div class="vsm-txt-avatar <%= user.color %>"><%= user.initial %></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- events: sale, admin, dated_admin -->
        <div class="dashboard-calendar-event bgcolor-<%= event.subcategory_color %> mobile_only border-top-lightgrey">
          <div class="d-flex flex-wrap pl-1">
            <% event.users.each do |user| %>
              <div class="d-flex mt-1 <%= 'ml-minus-4' if event.has_multiple_users? %>">
                <div class="vsm-txt-avatar <%= user.color %>">
                  <%= user.initial %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="d-flex justify-content-between px-1" data-drawer-trigger aria-controls="drawer-event-<%= event.id %>" >
            <div class="text-left">
              <p><%= event.description[0..6] %><%= event.description.length > 7 ? "…" : "" %></p>
            </div>
          </div>
        </div>

        <%= render "pages/dashboard_drawers/drawer_show_dated_admin_event", dated_admin_event: event, farm: @farm, event: event, workers: @workers, to_calendar: false %>
        <%= render "pages/dashboard_drawers/drawer_edit_dated_admin_event", dated_admin_event: event, farm: @farm, event: event, workers: @workers, to_calendar: false %>
      <% end %>
    <% end %>

  <% end %>
  <div class="d-sm-flex justify-content-between">

      <!--                  FROM THE PLAN DE CULTURE                 -->
      <%= render "pages/dashboard_sections/crop_plan_line_events", workers: @workers, week_planting: @week_planting, week_bed_preparation_2_weeks: @week_bed_preparation_2_weeks, week_bed_preparation_1_week: @week_bed_preparation_1_week, week_harvesting: @week_harvesting, event: @new_event, farm: @farm %>


    <div class="w-48-desktop">
      <!--       décharge mentale DÉCHARGE MENTALE decharge mentale DECHARGE MENTALE                -->
      <%= render "pages/dashboard_sections/admin_events", farm: @farm, admin_events: @admin_events, done_admin_events: @done_admin_events, todo_admin_events: @todo_admin_events, workers: @workers, event: @event %>


      <!--                  TOUR DES JARDINS                 -->
      <%= render "pages/dashboard_sections/garden_events", farm: @farm, garden_events: @garden_events, workers: @workers, event: @event %>

      <!--                  RÉCOLTE DU JOUR                -->
      <%= render "pages/dashboard_sections/to_harvest", farm: @farm %>

    </div>
  </div>

  <!-- LES VENTES les ventes -->
  <%#= render "pages/dashboard_sections/sales" %>

  <!-- scroll top - désactivé pour le moment -->
  <%#= render "pages/dashboard/mobile_scroll_top" %>


</div>

