<div class="container mt-4 custom-container">

  <!--                        CALENDRIER                            -->
  <%= week_calendar(number_of_weeks: 1, events: @presence_periods+@calendar_events) do |date, events| %>
    <%= date.day %>


    <!-- DESKTOP -->
    <% events.each do |event| %>
        <!-- presence days -->
      <% if !event.is_a? Event %>
        <div class="desktop_only">
          <div class="d-flex justify-content-around calendar-user-presence-periods">
            <% event.users.each do |user| %>
              <div class="sm-txt-avatar <%= user.color %>"><%= user.first_name[0] %></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- events: sale, admin, dated_admin -->
        <div class="bgcolor-<%= @event_colors[event.event_subcategory.to_sym] %> desktop_only">
          <div class="d-flex justify-content-between pt-2 pl-1 pointer" data-drawer-trigger aria-controls="drawer-event-<%= event.id %>" aria-expanded="false">
            <div class="text-left"><%= event.description[0..30] %><%= event.description.length > 31 ? "..." : "" %></div>
            <div class="d-flex flex-wrap">
              <% event.users.each do |user| %>
              <div class="d-flex pr-1">
                <div class="text-white sm-txt-avatar <%= user.color %>"><%= user.first_name[0] %></div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- MOBILE -->
    <% events.each do |event| %>
         <!-- presence days -->
      <% if !event.is_a? Event %>
        <div class="mobile_only">
          <div class="d-flex justify-content-around calendar-user-presence-periods">
            <% event.users.each do |user| %>
              <div class="vsm-txt-avatar <%= user.color %>"><%= user.first_name[0] %></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- events: sale, admin, dated_admin -->
        <div class="dashboard-calendar-event bgcolor-<%= @event_colors[event.event_subcategory.to_sym] %> mobile_only">
          <div class="d-flex">
            <% event.users.each do |user| %>
              <div class="m-1 text-white vsm-txt-avatar <%= user.color %>">
                <%= user.first_name[0] %>
              </div>
            <% end %>
          </div>
          <div class="d-flex justify-content-between px-1" data-drawer-trigger aria-controls="drawer-event-<%= event.id %>" >
            <div class="text-left">
              <p><%= event.description[0..8] %><%= event.description.length > 9 ? "…" : "" %></p>
            </div>
          </div>
        </div>
        <section class="drawer" id="drawer-event-<%= event.id %>" data-drawer-target>
          <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
          <div class="drawer__wrapper">
            <div class="drawer__header">
              <div class="d-flex justify-content-between">
                <div class="drawer__title">
                  <div><h2><%= event.description %></h2></div>
                  <div class="drawer-title-second-line"><%= l(event.start_time, format: '%A %e %B %Y') %></div>
                  <% if event.end_time %>
                    <div class="drawer-title-second-line">De <%= l(event.start_time, format: '%Hh%M') %> à <%= l(event.end_time, format: '%Hh%M') %></div>
                  <% else %>
                    <div class="drawer-title-second-line">À <%= l(event.start_time, format: '%Hh%M') %></div>
                  <% end %>
                </div>
                <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="drawer__content">
              <% if event.users.any? %>
                <h4 class="pt-3">Qui s'en charge ?</h4>
                <p>
                  <%= event.users.map{|user| user.first_name}.to_sentence(words_connector: ', ', last_word_connector: ' et ') %>
                </p>
              <% end %>
              <% if !event.comment.nil? %>
                <h4 class="pt-3">Commentaire</h4>
                <p>
                  <%= event.comment %>
                </p>
              <% end %>
            </div>
          </div>
        </section>
      <% end %>
    <% end %>
  <% end %>
  <div class="d-sm-flex justify-content-between">

  <!--                  FROM THE PLAN DE CULTURE                 -->
    <div class="mb-4 mb-sm-0 dashboard-crop-plan-line-card green w-48-desktop">
      <div class="card-colored-top-part-fixed-color green">
        <div class="card-top-part-text">From the plan de culture</div>
      </div>
      <div class="card-bottom-part">
        <div class="card-bottom-part-text">
          <div class="mt-3">
            <% if !@week_planting.empty? %>
              <h3>Plantation et semis directs</h3>
            <% end %>
            <% @week_planting.each do |planting| %>
              <div class="d-flex justify-content-between card-list-item-block">
                <div class="card-list-item-left-block">
                  <div class="desktop_only">
                    <div class="round-button green m-2">
                      <i class="fas fa-check round-txt-button"></i>
                    </div>
                  </div>
                  <div class="card-list-item-main-info-block">
                    <div>
                      <p><%= planting.product.name.capitalize %></p>
                    </div>
                    <div class="card-list-item-second-line"><%= planting.bed.garden.name %> - <%= planting.bed.name %></div>
                  </div>
                </div>
                <div class="d-flex justify-content-between card-list-item-round-button-block">
                  <div>
                    <div class="round-button green mobile_only m-2">
                      <i class="fas fa-check round-txt-button"></i>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="round-button green m-2" data-drawer-trigger aria-controls="drawer-info-<%= planting.id %>" aria-expanded="false">
                      <i class="fas fa-search round-txt-button"></i>
                    </div>
                    <div class="round-button <%= planting.comment.nil? || planting.comment.empty? ? 'lightgrey' : 'green' %>  m-2" data-drawer-trigger aria-controls="drawer-<%= planting.id %>" aria-expanded="false">
                      <i class="fas fa-comment round-txt-button"></i>
                    </div>
                    <div class="round-button orange m-2">
                      <i class="fas fa-redo-alt round-txt-button"></i>
                    </div>
                  </div>
                  <div>
                    <div class="txt-avatar <%= current_user.color %> m-2"><%= current_user.first_name[0] %></div>
                  </div>
                </div>
              </div>
              <!-- drawer commentaire -->
              <section class="drawer" id="drawer-<%= planting.id %>" data-drawer-target>
                  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                  <div class="drawer__wrapper">
                    <div class="drawer__header">
                      <div class="d-flex justify-content-between">
                        <div class="drawer__title">
                          <div>
                            <h2><%= planting.product.name.capitalize %></h2>
                          </div>
                        </div>
                        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="drawer__content">
                      <h4 class="pt-3">Commentaire</h4>
                        <% if planting.comment.nil? || planting.comment.empty? %>
                          <p>Pas de commentaire</p>
                        <% else %>
                          <p>
                            <%= planting.comment&.capitalize %>
                          <p>
                        <% end %>
                    </div>
                  </div>
              </section>
              <!-- drawer info -->
              <section class="drawer" id="drawer-info-<%= planting.id %>" data-drawer-target>
                  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                  <div class="drawer__wrapper">
                    <div class="drawer__header">
                      <div class="d-flex justify-content-between">
                        <div class="drawer__title">
                          <div>
                            <h2><%= planting.product.name.capitalize %></h2>
                          </div>
                          <div class="drawer-title-second-line"><%= planting.bed.garden.name %> - <%= planting.bed.name %></div>
                        </div>
                        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="drawer__content">
                      <h4 class="pt-3">Comment planter</h4>
                    </div>
                  </div>
              </section>
            <% end %>

            <div class="mt-3">
              <h3>Semis en pépinière</h3>
              <div class="d-flex justify-content-between card-list-item-block">
              <div class="card-list-item-left-block">
                <div class="desktop_only">
                  <div class="round-button green m-2">
                    <i class="fas fa-check round-txt-button"></i>
                  </div>
                </div>
                <div class="card-list-item-main-info-block">
                  <div>
                    <p>Courge</p>
                  </div>
                  <div class="card-list-item-second-line">100 godets | 2 graines par godet</div>
                </div>
              </div>
              <div class="d-flex justify-content-between card-list-item-round-button-block">
                <div>
                  <div class="round-button green mobile_only m-2">
                    <i class="fas fa-check round-txt-button"></i>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="round-button lightgrey m-2">
                    <i class="fas fa-comment round-txt-button"></i>
                  </div>
                  <div class="round-button orange m-2">
                    <i class="fas fa-redo-alt round-txt-button"></i>
                  </div>
                </div>
                <div>
                  <div class="txt-avatar olive m-2"><%= current_user.first_name[2].capitalize %></div>
                </div>
              </div>
            </div>
            </div>
            <div class="mt-3">
              <h3>Préparation planche</h3>
              <div class="d-flex justify-content-between card-list-item-block">
              <div class="card-list-item-left-block">
                <div class="desktop_only">
                  <div class="round-button green m-2">
                    <i class="fas fa-check round-txt-button"></i>
                  </div>
                </div>
                <div class="card-list-item-main-info-block">
                  <div>
                    <p>Jardin 1 - 2</p>
                  </div>
                  <div class="card-list-item-second-line">Carottes (5 rangs x 3cm)</div>
                  <div class="card-list-item-second-line">700g Patenkali - 2kg Bioguanor</div>
                </div>
              </div>
              <div class="d-flex justify-content-between card-list-item-round-button-block">
                <div>
                  <div class="round-button green mobile_only m-2">
                    <i class="fas fa-check round-txt-button"></i>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="round-button green m-2">
                    <i class="fas fa-comment round-txt-button"></i>
                  </div>
                  <div class="round-button orange m-2">
                    <i class="fas fa-redo-alt round-txt-button"></i>
                  </div>
                </div>
                <div>
                  <div class="txt-avatar orange m-2"><%= current_user.last_name[0] %></div>
                </div>
              </div>
            </div>
            </div>


            <div class="mt-3">
              <h3>Dispo pour la récolte cette semaine</h3>
              <div class="d-flex flex-wrap justify-content-center">
                <div class="d-flex px-sm-2 px-1">
                  <div class="d-flex">
                    <div class="align-self-center">
                      <p>Aubergine | </p>
                    </div>
                    <div class="card-list-item-second-line align-self-center"> The 6 - 4</div>
                  </div>
                  <div class="round-button orange m-sm-2 m-1">
                    <i class="fas fa-redo-alt round-txt-button"></i>
                  </div>
                </div>
                <div class="d-flex px-sm-2 px-1">
                  <div class="d-flex">
                    <div class="align-self-center">
                      <p>Salade | </p>
                    </div>
                    <div class="card-list-item-second-line align-self-center"> Jardin 1 - 2</div>
                  </div>
                  <div class="round-button orange m-sm-2 m-1">
                    <i class="fas fa-redo-alt round-txt-button"></i>
                  </div>
                </div>
                <div class="d-flex px-sm-2 px-1">
                  <div class="d-flex">
                    <div class="align-self-center">
                      <p>Mesclun | </p>
                    </div>
                    <div class="card-list-item-second-line align-self-center"> Jardin 8 - 9</div>
                  </div>
                  <div class="round-button orange m-sm-2 m-1">
                    <i class="fas fa-redo-alt round-txt-button"></i>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div id="decharge-mentale-anchor" class="d-flex justify-content-end card-bottom-section-with-icon">
          <%= link_to farm_plandeculture_index_path(current_user.farm_id) do %>
            <div class="card-bottom-right-triangle green">
              <i class="fas fa-seedling" style="padding: 3px 0;"></i>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="w-48-desktop">
      <!--                  décharge mentale DÉCHARGE MENTALE decharge mentale DECHARGE MENTALE                -->
      <div class="dashboard-crop-plan-line-card orange">
        <div class="card-colored-top-part-fixed-color orange">
          <div class="card-top-part-text">Décharge mentale</div>
        </div>
        <div class="card-bottom-part">
          <div class="card-bottom-part-text">
            <div class="mt-2">

              <!-- for each ici -->
              <div class="d-flex justify-content-between card-list-item-block">
                <div class="card-list-item-left-block">
                  <div class="desktop_only">
                    <div class="round-button green m-2">
                      <i class="fas fa-check round-txt-button"></i>
                    </div>
                  </div>
                  <div class="card-list-item-main-info-block">
                    <div>
                      <p>Commande nourriture poules</p>
                    </div>
                    <div class="card-list-item-second-line">Fournisseur blabla</div>
                  </div>
                </div>
                <div class="d-flex justify-content-between card-list-item-round-button-block">
                  <div>
                    <div class="round-button green mobile_only m-2">
                      <i class="fas fa-check round-txt-button"></i>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="round-button green m-2" data-drawer-trigger aria-controls="drawer-decharge-mentale-comment-1" aria-expanded="false">
                      <i class="fas fa-comment round-txt-button"></i>
                    </div>
                    <div class="round-button orange m-2" data-drawer-trigger aria-controls="drawer-decharge-mentale-edit-1" aria-expanded="false">
                      <i class="fas fa-pen round-txt-button"></i>
                    </div>
                    <div class="round-button orange m-2">
                      <i class="fas fa-redo-alt round-txt-button"></i>
                    </div>
                  </div>
                  <div>
                    <div class="txt-avatar <%= current_user.color %> m-2"><%= current_user.first_name[0] %></div>
                  </div>
                </div>
              </div>

              <!-- drawer comment decharge mentale -->
              <section class="drawer" id="drawer-decharge-mentale-comment-1" data-drawer-target>
                <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                <div class="drawer__wrapper">
                  <div class="drawer__header">
                    <div class="d-flex justify-content-between">
                      <div class="drawer__title">
                        <div>
                          <h2>Commande nourriture poules</h2>
                        </div>
                        <div class="drawer-title-second-line">Fournisseur blabla</div>
                      </div>
                      <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="drawer__content">
                    <h4 class="pt-3">Commentaire</h4>
                    <p>
                      Attention, il faudra bien penser à blablabla
                    <p>
                  </div>
                </div>
              </section>

              <!-- drawer edit decharge mentale -->
              <section class="drawer" id="drawer-decharge-mentale-edit-1" data-drawer-target>
                <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                <div class="drawer__wrapper">
                  <div class="drawer__header">
                    <div class="d-flex justify-content-between">
                      <div class="drawer__title">
                        <div>
                          <h2>Modifier</h2>
                        </div>
                      </div>
                      <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="drawer__content drawer-content-with-bottom-buttons">
                    <div>
                      <p>Ici on aura le formulaire de modification</p>
                    </div>
                    <div class="drawer-edit-bottom-buttons px-sm-4">
                      <div><%= link_to "Valider", about_path, class: "btn txt-button-background olive mt-2" %></div>
                      <div><%= link_to "Supprimer", about_path, class: "btn txt-button-background red mt-2" %></div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- end ici -->

            </div>
          </div>
          <div id="tour-des-jardins-anchor" class="d-flex justify-content-end card-bottom-section-with-icon">
            <div class="card-bottom-right-triangle orange">
              <i class="fas fa-plus"></i>
            </div>
          </div>
        </div>
      </div>

      <!--                  TOUR DES JARDINS                 -->
      <div class="mt-4 dashboard-crop-plan-line-card red">
        <div class="card-colored-top-part-fixed-color red">
          <div class="card-top-part-text">Tour des jardins  👀</div>
        </div>
        <div class="card-bottom-part">
          <div class="card-bottom-part-text">
            <div class="mt-2">
              <% @garden_events.each do |garden_event| %>
                <div class="d-flex justify-content-between card-list-item-block">
                  <div class="card-list-item-left-block">
                    <div class="desktop_only">
                      <div class="round-button green m-2">
                        <i class="fas fa-check round-txt-button"></i>
                      </div>
                    </div>
                    <div class="card-list-item-main-info-block">
                      <div>
                        <p><%= garden_event.description.capitalize %></p>
                      </div>
                      <div class="card-list-item-second-line"><%= garden_event.details.capitalize %></div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between card-list-item-round-button-block">
                    <div>
                      <div class="round-button green mobile_only m-2">
                        <i class="fas fa-check round-txt-button"></i>
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="round-button <%= garden_event.comment.nil? || garden_event.comment.empty? ? 'lightgrey' : 'green' %> m-2" data-drawer-trigger aria-controls="drawer-tour-des-jardins-comment-<%= garden_event.id %>" aria-expanded="false">
                        <i class="fas fa-comment round-txt-button"></i>
                      </div>
                      <div class="round-button orange m-2" data-drawer-trigger aria-controls="drawer-tour-des-jardins-edit-<%= garden_event.id %>" aria-expanded="false">
                        <i class="fas fa-pen round-txt-button"></i>
                      </div>
                      <div class="round-button orange m-2">
                        <i class="fas fa-redo-alt round-txt-button"></i>
                      </div>
                    </div>
                    <div>
                      <% garden_event.users.each do |user| %>
                        <div class="d-flex pr-1">
                          <div class="txt-avatar m-2 <%= user.color %>"><%= user.first_name[0] %></div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <!-- drawer comment tour des jardins -->
                <section class="drawer" id="drawer-tour-des-jardins-comment-<%= garden_event.id %>" data-drawer-target>
                  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                  <div class="drawer__wrapper">
                    <div class="drawer__header">
                      <div class="d-flex justify-content-between">
                        <div class="drawer__title">
                          <div>
                            <h2><%= garden_event.description&.capitalize %></h2>
                          </div>
                          <div class="drawer-title-second-line"><%= garden_event.details&.capitalize %></div>
                        </div>
                        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="drawer__content">
                      <h4 class="pt-3">Commentaire</h4>
                      <% if garden_event.comment.nil? || garden_event.comment.empty? %>
                        <p>Pas de commentaire</p>
                      <% else %>
                        <p>
                          <%= garden_event.comment&.capitalize %>
                        <p>
                      <% end %>
                    </div>
                  </div>
                </section>

                <!-- drawer edit tour des jardins -->

                <!-- À AJOUTER À LA CLASSE DRAWER SI ON VEUT QUE LE DRAWER SOIT OUVERT QUAND ON A MIS À JOUR -->
                 <%#= params[:event].to_i == garden_event.id ? 'is-active is-visible' : '' %>
                <section class="drawer" id="drawer-tour-des-jardins-edit-<%= garden_event.id %>" data-drawer-target>
                  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
                  <div class="drawer__wrapper">
                    <div class="drawer__header">
                      <div class="d-flex justify-content-between">
                        <div class="drawer__title">
                          <div>
                            <h2>Modifier</h2>
                          </div>
                        </div>
                        <button class="drawer__close" data-drawer-close aria-label="Fermer le drawer">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    </div>
                    <div class="drawer__content drawer-content-with-bottom-buttons">
                      <div>
                        <%= form_with model: @event, url: farm_calendrier_path(@farm, garden_event.id), method: :patch do |form| %>
                        <h4 class="mt-4">Date</h4>
                        <%= form.date_field :date, value: garden_event.date, class: "mt-2" %>
                        <h4 class="mt-4">Description</h4>
                        <%= form.text_area :description, value: garden_event.description, class: "mt-2", rows: "1" %>
                        <h4 class="mt-4">Détails</h4>
                        <%= form.text_area :details, value: garden_event.details, class: "mt-2", rows: "1" %>
                        <h4 class="mt-4">Commentaire</h4>
                        <%= form.text_area :comment, value: garden_event.comment, class: "mt-2", rows: "1" %>

                      </div>
                      <div class="drawer-edit-bottom-buttons px-sm-4">
                        <div><%= form.submit value: "Valider", class: "btn txt-button-background olive mt-2", 'data-disable-with': "..." %></div>
                        <div><%= link_to "Supprimer", about_path, class: "btn txt-button-background red mt-2" %></div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </section>
              <% end %>
            </div>
          </div>
          <div class="d-flex justify-content-end card-bottom-section-with-icon">
            <div class="card-bottom-right-triangle red">
              <i class="fas fa-plus"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LES VENTES les ventes -->
  <div class="my-4 desktop_only">
    <!-- ici le each -->
    <div class="d-flex justify-content-between list-item-block my-2">
      <div class="card-list-item-left-block">
        <div class="align-self-center pr-4">
          <p>15/03/21</p>
        </div>
          <h4 class="mb-0 align-self-center fw-500">L'Épicerie</h4>
      </div>
      <div class="d-flex justify-content-between card-list-item-round-button-block">
        <div class="d-flex desktop_only">
          <div class="round-button olive m-2">
            <%= image_tag "panier.png", alt: "panier", class: "round-img-button" %>
          </div>
          <div class="round-button green m-2">
            <i class="fas fa-search-plus round-txt-button"></i>
          </div>
          <div class="round-button red m-2">
            <i class="fas fa-euro-sign round-txt-button"></i>
          </div>
          <div class="round-button red m-2">
            <i class="far fa-file-alt round-txt-button"></i>
          </div>

        </div>
        <div class="align-self-center">
          <h4 class="mb-0 align-self-center fw-500">123,40 €</h4>
        </div>
      </div>
    </div>
    <!-- ici le end -->
  </div>
  <div class="mobile_only">
    <!-- ici le each -->
    <div id="carouselExampleSlidesOnly" class="carousel-sales carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-between list-item-block my-4">
            <div class="card-list-item-left-block">
              <div class="align-self-center pr-4">
                <p>15/03/21</p>
              </div>
                <h4 class="mb-0 align-self-center fw-500">L'Épicerie</h4>
            </div>
            <div class="d-flex justify-content-between card-list-item-round-button-block">
              <div class="d-flex desktop_only">
                <div class="round-button olive m-2">
                  <%= image_tag "panier.png", alt: "panier", class: "round-img-button" %>
                </div>
                <div class="round-button green m-2">
                  <i class="fas fa-search-plus round-txt-button"></i>
                </div>
                <div class="round-button red m-2">
                  <i class="fas fa-euro-sign round-txt-button"></i>
                </div>
                <div class="round-button red m-2">
                  <i class="far fa-file-alt round-txt-button"></i>
                </div>
              </div>
              <div class="align-self-center">
                <h4 class="mb-0 align-self-center fw-500">123,40 €</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-between box-shadow-lightgrey my-4">
            <div class="d-flex mobile_only w-100 justify-content-center">
              <div class="px-2">
                <div class="round-button olive m-2">
                  <%= image_tag "panier.png", alt: "panier", class: "round-img-button" %>
                </div>
              </div>
              <div class="px-2">
                <div class="round-button green m-2">
                  <i class="fas fa-search-plus round-txt-button"></i>
                </div>
              </div>
              <div class="px-2">
                <div class="round-button red m-2">
                  <i class="fas fa-euro-sign round-txt-button"></i>
                </div>
              </div>
              <div class="px-2">
                <div class="round-button red m-2">
                  <i class="far fa-file-alt round-txt-button"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ici le end -->
  </div>

  <div class="scrolltop-wrap">
    <div id="link-to-calendar-heading">
      <%= link_to "#" do %>
        <div class="round-button lightgrey m-1">
          <i class="fas fa-chevron-up white round-txt-button"></i>
          <path d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
        </div>
      <% end %>
    </div>
    <div id="link-to-decharge-mentale-anchor">
      <%= link_to :anchor => "decharge-mentale-anchor" do %>
        <div class="round-button orange m-1">
          <%= image_tag "brain.png", class: "round-img-button" %>
          <path d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
        </div>
      <% end %>
    </div>
    <div id="link-to-tour-des-jardins-anchor">
      <%= link_to :anchor => "tour-des-jardins-anchor" do %>
        <div class="round-button red m-1">
          <i class="fas fa-eye white round-txt-button"></i>
          <path d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
        </div>
      <% end %>
    </div>
  </div>
</div>

