<div class="container mt-4 custom-container">

  <!--                        CALENDRIER                            -->
  <%= week_calendar(number_of_weeks: 1, events: @presence_periods+@calendar_events) do |date, events| %>
    <div  data-target="#modal-new-dated-admin-event" class="pointer">
      <div class="event-day" data-date="<%= date %>"><%= date.day %></div>

       <%= render "pages/dashboard/create_dated_admin_event_modal", farm: @farm, event: @new_event %>
    </div>
      <!-- DESKTOP -->
    <% events.each do |event| %>
        <!-- presence days -->
      <% if !event.is_a? Event %>
        <div class="desktop_only" >
          <div class="d-flex justify-content-around calendar-user-presence-periods">
            <% event.users.each do |user| %>
              <div class="sm-txt-avatar <%= user.color %>"><%= user.initial %></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- events: sale, admin, dated_admin -->
        <div class="bgcolor-<%= event.subcategory_color %> desktop_only">
          <div class="d-flex justify-content-between pt-2 pl-1 pointer" data-drawer-trigger aria-controls="drawer-event-<%= event.id %>" aria-expanded="false">
            <div class="text-left"><%= event.description[0..30] %><%= event.description.length > 31 ? "..." : "" %></div>
            <div class="d-flex flex-wrap">
              <% event.users.each do |user| %>
              <div class="d-flex <%= 'ml-minus-8' if event.has_multiple_users? %>">
                <div class="text-white sm-txt-avatar <%= user.color %>"><%= user.initial %></div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- MOBILE -->
    <% events.each do |event| %>
         <!-- presence days -->
      <% if !event.is_a? Event %>
        <div class="mobile_only">
          <div class="d-flex justify-content-around calendar-user-presence-periods">
            <% event.users.each do |user| %>
              <div class="vsm-txt-avatar <%= user.color %>"><%= user.initial %></div>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- events: sale, admin, dated_admin -->
        <div class="dashboard-calendar-event bgcolor-<%= event.subcategory_color %> mobile_only">
          <div class="d-flex">
            <% event.users.each do |user| %>
              <div class="m-1 text-white vsm-txt-avatar <%= user.color %>">
                <%= user.initial %>
              </div>
            <% end %>
          </div>
          <div class="d-flex justify-content-between px-1" data-drawer-trigger aria-controls="drawer-event-<%= event.id %>" >
            <div class="text-left">
              <p><%= event.description[0..8] %><%= event.description.length > 9 ? "…" : "" %></p>
            </div>
          </div>
        </div>
        <section class="drawer" id="drawer-event-<%= event.id %>" data-drawer-target>
          <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
          <div class="drawer__wrapper">
            <div class="drawer__header">
              <div class="d-flex justify-content-between">
                <div class="drawer__title">
                  <div><h2><%= event.description %></h2></div>
                  <div class="drawer-title-second-line"><%= l(event.start_time, format: '%A %e %B %Y') %></div>
                  <% if event.end_time %>
                    <div class="drawer-title-second-line">De <%= l(event.start_time, format: '%Hh%M') %> à <%= l(event.end_time, format: '%Hh%M') %></div>
                  <% else %>
                    <div class="drawer-title-second-line">À <%= l(event.start_time, format: '%Hh%M') %></div>
                  <% end %>
                </div>
                <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="drawer__content drawer-content-with-bottom-buttons">
              <div>
                <% if event.has_details? %>
                  <h4 class="pt-3">Un peu de détails</h4>
                  <p>
                    <%= event.details %>
                  </p>
                <% end %>
                <% if event.has_users? %>
                  <h4 class="pt-3">Qui s'en charge ?</h4>
                  <p>
                    <%= event.users.map{|user| user.first_name}.to_sentence(words_connector: ', ', last_word_connector: ' et ') %>
                  </p>
                <% end %>
                <% if event.has_comment? %>
                  <h4 class="pt-3">Commentaire</h4>
                  <p>
                    <%= event.comment %>
                  </p>
                <% end %>
              </div>
              <div class="drawer-edit-bottom-buttons px-sm-4">
                <div class="btn txt-button-background orange mt-2" data-drawer-trigger aria-controls="drawer-edit-event-<%= event.id %>">Modifier</div>
              </div>
            </div>
          </div>
        </section>

        <%= render "pages/dashboard_drawers/drawer_edit_dated_admin_event", dated_admin_event: event, farm: @farm, event: event, workers: @workers %>
      <% end %>
    <% end %>

  <% end %>
  <div class="d-sm-flex justify-content-between">

      <!--                  FROM THE PLAN DE CULTURE                 -->
      <%= render "pages/dashboard_sections/crop_plan_line_events", workers: @workers, week_planting: @week_planting, week_bed_preparation_2_weeks: @week_bed_preparation_2_weeks, week_bed_preparation_1_week: @week_bed_preparation_1_week, week_harvesting: @week_harvesting, event: @new_event, farm: @farm %>


    <div class="w-48-desktop">
      <!--       décharge mentale DÉCHARGE MENTALE decharge mentale DECHARGE MENTALE                -->
      <%= render "pages/dashboard_sections/admin_events", farm: @farm, admin_events: @admin_events, workers: @workers, event: @event %>


      <!--                  TOUR DES JARDINS                 -->
      <%= render "pages/dashboard_sections/garden_events", farm: @farm, garden_events: @garden_events, workers: @workers, event: @event %>

    </div>
  </div>

  <!-- LES VENTES les ventes -->
  <%#= render "pages/dashboard_sections/sales" %>

  <!-- scroll top - désactivé pour le moment -->
  <%#= render "pages/dashboard/mobile_scroll_top" %>


</div>

