<%#= image_tag "legumes.jpg", alt: "banner", class: "banner" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/adelaideeurope/image/upload/v1610752467/legumes_ljoe3o.jpg);">

  <div class="banner-content">
    <h1>Les Jardins détaillés</h1>
    <!-- <h3 class="banner-subtitle">Maraîchage diversifié, fruits et œufs produits en Agriculture Biologique sur les berges de l'Isère</h3>
   -->
  </div>
  <div class="home-content">
    <div class="home-farm-main-info desktop_only">
      <h2>Maraîchage diversifié en région grenobloise</h2>
      <div>Les Jardins détaillés est une exploitation maraîchère située sur la commune de Saint-Martin-d'Hères. Sur une parcelle d’environ un hectare, que je loue à Grenoble Alpes Métropole, nous cultivons, en suivant les méthodes de l’Agriculture biologique, une trentaine de légumes variés et des petits fruits depuis le mois d’avril 2018. La commercialisation des produits se fait en vente directe (paniers Internet, AMAP), ou en circuit court avec des partenaires choisis (restaurant, épiceries etc).</div>
    </div>
    <div class="home-farm-main-info mobile_only">
      <h2>Maraîchage diversifié en région grenobloise</h2>
      <div>Les Jardins détaillés est une exploitation maraîchère située sur la commune de Saint-Martin-d'Hères. Sur une parcelle d’environ un hectare, nous cultivons, en suivant les méthodes de l’Agriculture biologique, une trentaine de légumes variés et des petits fruits.</div>
    </div>

    <div class="container" style="padding-bottom: 60px;">
      <div class="home-farm-info-title">
        <h2 class="orange">La ferme</h2>
      </div>
      <div class="d-flex home-img-row">
        <div class="img-line-wide">
          <%= image_tag "panier-poireaux.jpg", class: "h-100 w-100 img-cover" %>
        </div>
        <div class="img-line-narrow">
          <%= image_tag "mika.jpg", class: "h-100 w-100 img-cover object-position-0", style: "margin-left: 15px;
    padding-right: 15px;" %>
        </div>
      </div>
      <div class="d-flex home-img-row">
        <div class="img-line-wide">
          <%= image_tag "ele.jpg", class: "h-100 w-100 img-cover" %>
        </div>
        <div class="img-line-narrow">
          <%= image_tag "betterave.jpg", class: "h-100 w-100 img-cover object-position-0", style: "margin-left: 15px;
    padding-right: 15px;" %>
        </div>
      </div>
      <div class="d-flex home-img-row mb-0">
        <div class="img-line-narrow home-img-row-shrink">
          <%= image_tag "radis.jpg", class: "h-100 w-100 img-cover" %>
        </div>
        <div class="img-line-narrow home-img-row-shrink">
          <%= image_tag "broc.jpg", class: "h-100 w-100 img-cover", style: "margin-left: 15px;
    margin-right: 15px;" %>
        </div>
        <div class="img-line-narrow w-100">
          <%= image_tag "charlie.png", class: "h-100 w-100 img-cover" %>
        <div>
      </div>
    </div>
  </div>
  <div class="home-farm-info-title">
    <h2 class="red">Où trouver nos produits</h2>
  </div>
  <div class="d-flex home-img-row mb-0">
    <div class="img-line-narrow home-img-row-shrink">
      <h3 class="text-center">Au terrain</h3>
      <%= link_to "https://www.google.com/maps/place/Les+Jardins+D%C3%A9taill%C3%A9s/@45.1944738,5.7588995,15z/data=!4m5!3m4!1s0x0:0xca65c65d81e058c1!8m2!3d45.1944738!4d5.7588995", target: :_blank do %>
        <%= image_tag "fake-google-map.png", class: "h-100 w-100 img-cover" %>
      <% end %>
    </div>
    <div class="img-line-narrow home-img-row-shrink">
      <h3 class="text-center">Au marché</h3>
      <%= image_tag "fake-google-map.png", class: "h-100 w-100 img-cover" %>
    </div>
    <div class="img-line-narrow home-img-row-shrink">
      <h3 class="text-center">À l'AMAP</h3>
      <%= image_tag "fake-google-map.png", class: "h-100 w-100 img-cover" %>
    </div>
  </div>
</div>
