<%#= image_tag "legumes.jpg", alt: "banner", class: "banner" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/adelaideeurope/image/upload/v1610752467/legumes_ljoe3o.jpg);">

  <div class="banner-content">
    <h1>Les Jardins détaillés</h1>
    <!-- <h3 class="banner-subtitle">Maraîchage diversifié, fruits et œufs produits en Agriculture Biologique sur les berges de l'Isère</h3>
   -->
  </div>
</div>
<div class="home-content">
  <div class="home-farm-main-info desktop_only">
    <h2>Maraîchage diversifié en région grenobloise</h2>
    <div>Les Jardins détaillés est une ferme située au cœur de l'Agglomération grenobloise, au sein du campus de St-Martin-d'Hères, sur les berges de l'Isère.
      Mickaël et Eléonore y cultivent des légumes diversifiés et y élèvent des poules pondeuses en Agriculture biologique.
      Toute la commercialisation se fait en circuits courts locaux (moins de 10 km du lieu de production).
      <br>
      <br>
      Une fois qu'on a présenté la ferme comme ça, on a tout dit, on n'a rien dit.
      En réalité, on aurait 1 000 choses à vous raconter sur nos pratiques, nos valeurs, nos idées, nos difficultés, nos envies, nos questionnements, notre ancrage, nos limites et celles du monde qui nous entoure, de ces limites qui nous repoussent ou qu'on repousse (mais qui, parfois, repoussent), nos saisons, nos progressions et nos fiertés etc etc. Mais on vous dira tout ça (ou à peine moins), par d'autres biais.</div>
  </div>
  <div class="home-farm-main-info mobile_only">
    <h2>Maraîchage diversifié en région grenobloise</h2>
    <div>Les Jardins détaillés est une ferme située au cœur de l'Agglomération grenobloise, au sein du campus de St-Martin-d'Hères, sur les berges de l'Isère.
      Mickaël et Eléonore y cultivent des légumes diversifiés et y élèvent des poules pondeuses en Agriculture biologique.
      Toute la commercialisation se fait en circuits courts locaux (moins de 10 km du lieu de production).</div>
  </div>

  <div class="container home-container">
    <div class="home-farm-info-title">
      <h2 class="orange">La ferme</h2>
    </div>
    <div class="d-flex home-img-row">
      <div class="img-line-wide">
        <%= image_tag "panier-poireaux.jpg", class: "h-100 w-100 img-cover" %>
      </div>
      <div class="img-line-narrow">
        <%= image_tag "mika.jpg", class: "h-100 w-100 img-cover object-position-0 ml-pr-15" %>
      </div>
    </div>
    <div class="d-flex home-img-row">
      <div class="img-line-wide">
        <%= image_tag "ele.jpg", class: "h-100 w-100 img-cover" %>
      </div>
      <div class="img-line-narrow">
        <%= image_tag "betterave.jpg", class: "h-100 w-100 img-cover object-position-0 ml-pr-15" %>
      </div>
    </div>
    <div class="d-flex home-img-row mb-0">
      <div class="img-line-narrow home-img-row-shrink">
        <%= image_tag "radis.jpg", class: "h-100 w-100 img-cover" %>
      </div>
      <div class="img-line-narrow home-img-row-shrink mx-15">
        <%= image_tag "broc.jpg", class: "h-100 w-100 img-cover" %>
      </div>
      <div class="img-line-narrow w-100">
        <%= image_tag "charlie.png", class: "h-100 w-100 img-cover" %>
      <div>
    </div>
  </div>
</div>
<div class="home-farm-info-title">
  <h2 class="red">Où trouver nos produits</h2>
</div>
<div class="d-flex justify-content-between desktop_only">
  <div class="d-flex flex-column" style="width: 30%">
    <div class="text-center small">À l'AMAP de St Martin d'Hères <br>sur engagement <%= mail_to "amaplaplaine@gmail.com", "amaplaplaine@gmail.com" %></div>
    <div>
      <%= link_to "https://www.google.com/maps/place/8FQ75QC4%2B7H/@45.1709172,5.7546098,17z/data=!4m5!3m4!1s0x0:0x0!8m2!3d45.1706875!4d5.7564375", target: :_blank do %>
        <%= image_tag "map-amap.png", class:"w-100" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-column" style="width: 30%">
    <div class="text-center small">Rue A. Polotti à St-Martin-d'Hères <br>le lundi soir d'avril à décembre - ouvert à tous
    </div>
    <div>
      <%= link_to "https://www.google.com/maps/place/Rue+Antoine+Polotti,+38400+Saint-Martin-d'H%C3%A8res/@45.1952678,5.7530986,17z/data=!4m13!1m7!3m6!1s0x478af5ab30dabd7f:0xe22b0c32955b9e6f!2sRue+Antoine+Polotti,+38400+Saint-Martin-d'H%C3%A8res!3b1!8m2!3d45.1952678!4d5.7552873!3m4!1s0x478af5ab30dabd7f:0xe22b0c32955b9e6f!8m2!3d45.1952678!4d5.7552873", target: :_blank do %>
        <%= image_tag "map-marche.png", class:"w-100" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-column" style="width: 30%">
    <div class="text-center small">Dans certaines épiceries et magasins bio <br>de l'agglo</div>
    <div><%= link_to "https://www.google.com/maps/dir/La+Bonne+Pioche,+Rue+Condillac,+Grenoble/Biocoop+Casabio+Chorier,+32+Rue+Nicolas+Chorier,+38000+Grenoble/Jeanette,+Rue+Genissieu,+Grenoble/@45.187091,5.7163021,16z/data=!3m1!4b1!4m20!4m19!1m5!1m1!1s0x478af48b898c0001:0x16034f780eca070a!2m2!1d5.7288807!2d45.1889032!1m5!1m1!1s0x478af482c36f4eaf:0xf49e027fba6f9138!2m2!1d5.7124271!2d45.1858565!1m5!1m1!1s0x478af57c45d70155:0xee0cad88f76a3dce!2m2!1d5.7226022!2d45.1863744!3e0", target: :_blank do %>
        <%= image_tag "epiceries.png", class:"w-100" %>
      <% end %>
    </div>
  </div>
</div>
<div class="justify-content-between mobile_only">
  <div class="d-flex flex-column mt-4">
    <div class="text-center small">À l'AMAP de St Martin d'Hères <br>sur engagement <%= mail_to "amaplaplaine@gmail.com", "amaplaplaine@gmail.com" %></div>
    <div>
      <%= link_to "https://www.google.com/maps/place/8FQ75QC4%2B7H/@45.1709172,5.7546098,17z/data=!4m5!3m4!1s0x0:0x0!8m2!3d45.1706875!4d5.7564375", target: :_blank do %>
        <%= image_tag "map-amap.png", class:"w-100", style: "height: 135px;
    object-fit: cover;" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-column mt-4">
    <div class="text-center small">Rue A. Polotti à St-Martin-d'Hères <br>le lundi soir d'avril à décembre - ouvert à tous
    </div>
    <div>
      <%= link_to "https://www.google.com/maps/place/Rue+Antoine+Polotti,+38400+Saint-Martin-d'H%C3%A8res/@45.1952678,5.7530986,17z/data=!4m13!1m7!3m6!1s0x478af5ab30dabd7f:0xe22b0c32955b9e6f!2sRue+Antoine+Polotti,+38400+Saint-Martin-d'H%C3%A8res!3b1!8m2!3d45.1952678!4d5.7552873!3m4!1s0x478af5ab30dabd7f:0xe22b0c32955b9e6f!8m2!3d45.1952678!4d5.7552873", target: :_blank do %>
        <%= image_tag "map-marche.png", class:"w-100", style: "height: 135px;
    object-fit: cover;" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex flex-column mt-4">
    <div class="text-center small">Dans certaines épiceries et magasins bio <br>de l'agglo</div>
    <div><%= link_to "https://www.google.com/maps/dir/La+Bonne+Pioche,+Rue+Condillac,+Grenoble/Biocoop+Casabio+Chorier,+32+Rue+Nicolas+Chorier,+38000+Grenoble/Jeanette,+Rue+Genissieu,+Grenoble/@45.187091,5.7163021,16z/data=!3m1!4b1!4m20!4m19!1m5!1m1!1s0x478af48b898c0001:0x16034f780eca070a!2m2!1d5.7288807!2d45.1889032!1m5!1m1!1s0x478af482c36f4eaf:0xf49e027fba6f9138!2m2!1d5.7124271!2d45.1858565!1m5!1m1!1s0x478af57c45d70155:0xee0cad88f76a3dce!2m2!1d5.7226022!2d45.1863744!3e0", target: :_blank do %>
        <%= image_tag "epiceries.png", class:"w-100", style: "height: 135px;
    object-fit: cover;" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container footer-container">
  <div class="footer justify-content-center justify-content-sm-between">
    <div class="footer-links">
      <a href="#" class="pl-0"><i class="fab fa-instagram ml-0"></i></a>
      <a href="https://www.facebook.com/Les-Jardins-D%C3%A9taill%C3%A9s-779006172440428" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="footer-copyright desktop_only">
      Fait avec <i class="fas fa-heart"></i> by adé
    </div>
  </div>
</div>
