<%= simple_form_for [farm, hen_action], url: url do |f| %>
  <div class="flex-wrap d-flex justify-content-between">
    <div class="w-48-desktop">
      <div class="simple-card">
        <h3>Date</h3>
        <div><%= f.input :date, as: :string, label: false, input_html: { class: "datepickernotime fit-content search-input-target-date" } %></div>
        <h3>Action</h3>
        <div><%= f.text_area :action, class: "w-100", required: true %></div>
        <h3 class="mt-4">Commentaire</h3>
        <div><%= f.text_area :comment, class: "w-100" %></div>
      </div>
    </div>
  </div>
  <div class="w-48-desktop d-flex">
    <%= f.submit "Valider", class: "btn txt-button mt-4 mx-auto" %>
  </div>
<% end %>
