<!-- Modal create event (dated_admin - calendar)-->
<div class="modal fade" id="modal-new-dated-admin-event" tabindex="-1" aria-labelledby="modal-new-admin-eventLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modal-new-admin-eventLabel">Nouvel événement 🗓</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: event, url: farm_calendrier_index_path(farm, event, event_category: "dated_admin", to_calendar: to_calendar), local: true do |form| %>
          <div class="mb-4">
            <div class="d-flex">
              <div>
              <h4 class="mt-2">Date</h4>
                <%= form.date_field :start_date, class: "mt-2 w-100 start-time", rows: "1" %>
              </div>
            <!-- <div class="d-flex mt-2 w-sm-75"> -->
              <div class="ml-4">
                <div class="d-flex">
                  <div>
                    <h4 class="mt-2">Heure début</h4>
                    <%= form.time_select :start_hour, class: "mt-2", rows: "1" %>
                  </div>
                  <div class="ml-4">
                    <h4 class="mt-2">Heure fin</h4>
                    <%= form.time_select :end_hour, class: "mt-2", rows: "1" %>
                  </div>
                </div>
                <div class="d-flex mt-2"><span><%= form.check_box :is_all_day, {checked: true} %><span class="ml-2">Pas d'heure spécifique ?</span></span></div>
              </div>
            </div>

            <div class="d-flex">
              <h4 class="mt-4">Type d'événement</h4>
              <div class="d-flex event-type-select"><%= form.select :event_subcategory, ["vente", "rdv", "mission"], class: "mt-2", rows: "1" %></div>
            </div>
            <h4 class="mt-4">Titre</h4>
            <%= form.text_area :description, class: "mt-2  w-100", rows: "1" %>
            <h4 class="mt-4">Description</h4>
            <%= form.text_area :details, class: "mt-2 w-100", rows: "1" %>
            <h4 class="mt-4">Commentaire</h4>
            <%= form.text_area :comment, class: "mt-2 w-100", rows: "1" %>
            <div class="d-flex">
              <div>
                <h4 class="mt-4">C'est pour qui ?</h4>
                <%= form.hidden_field :worker_list, input_html: { readonly: true, value: "" }, class: "event_worker_list hidden" %>
              </div>
              <div>
                <div class="user-button-event mt-3">
                  <div class="d-flex">
                    <% @workers.each do |worker| %>
                      <div class="d-flex pr-1 pointer">
                        <div class="chose-worker txt-avatar m-2 lightgrey" data-worker="<%= worker.id %>" data-worker-color="<%= worker.color %>">
                          <%= worker.initial %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="drawer-edit-bottom-buttons px-sm-4">
            <div><%= form.submit value: "Valider", class: "btn txt-button-background olive mt-2", 'data-disable-with': "..." %></div>
          </div>
        <% end %>

          <%#= render "pages/dashboard_forms/form_new_admin_event", farm: farm, event: event %>
      </div>
    </div>
  </div>
</div>
