<div class="container custom-container">
  <div class="page-header non-scrolled-page-header scrollable-page-header d-flex justify-content-between">
    <h2>Tous les légumes, au clair de lune</h2>
    <div class="pr-38 d-flex">
      <%= link_to farm_produits_path(@farm.id, format: "xlsx") do %>
        <div class="round-button green mr-4"><i class="fas fa-download round-txt-button"></i></div>
      <% end %>
      <%= link_to new_farm_produit_path(@farm.id) do %>
        <div class="round-button green"><i class="fas fa-plus round-txt-button"></i></div>
      <% end %>
    </div>
  </div>

  <div class="page-content">
  </div>
  <div class="search-form">
  <%= form_tag farm_produits_path(current_user.farm_id), method: :get, class: "search-input" do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Chercher un produit" %>
    <button type="submit" class="btn search-button" id="submit">
      <i class="fas fa-search"></i>
    </button>
  <% end %>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col w-50"><%= link_to "Légume", sort: "slug" %></th>
        <th scope="col w-50"></th>
        <th scope="col w-50"><%= link_to "Famille", sort: "product_group" %></th>
        <th scope="col w-50"><%= link_to "CA", sort: "ttc_turnover" %></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="<%= product %>">
            <div class="<%= product.has_variets? ? 'pointer' : '' %>" data-toggle="collapse" data-target="#product<%= product.id %>" class="accordion-toggle ml-4"><%= product.name.capitalize %></div>
          </th>
          <td>
            <div data-drawer-trigger aria-controls="drawer-product-index<%= product.id %>" aria-expanded="false"><div class="round-button green"><i class="fas fa-search-plus round-txt-button"></i></div></div>
          </td>
          <td>
            <%= product.product_group.name.capitalize %>
          </td>
          <td>
            <%= product.ttc_turnover || "-" %> €
          </td>
        </tr>
        <tr>
          <% product.vegetable_variets.each do |vegetable_variet| %>
            <td colspan="12" class="hiddenRow">
              <div class="accordian-body collapse" id="product<%= product.id %>">
                <table class="table table-striped">
                    <tr><td class="pl-2 vegetable_variet-detail"><%= vegetable_variet.name.capitalize %></td></tr>
                </table>
              </div>
            </td>
          <% end %>
        </tr>
        <%= render 'product_drawer', product: product %>
      <% end %>
    </tbody>
  </table>
</div>

