<section class="drawer" id="drawer-sale-comment-<%= sale.id %>" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="d-flex justify-content-between">
        <div class="drawer__title">
          <div>
            <h2>Vente <%= sale.outlet.full_name %> du <%= sale.date.to_date.strftime('%-d') %> <%= I18n.t(:month_names)[sale.date.to_date.strftime('%b').to_sym] %></h2>
          </div>
        </div>
        <button class="drawer__close" data-drawer-close aria-label="Close Drawer">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="drawer__content">
      <h4 class="pt-3">Commentaire</h4>
      <% if sale.has_comment? %>
        <p>
          <%= sale.comment.capitalize %>
        <p>
      <% else %>
        <p>Pas de commentaire. Si tu as des choses à dire, clique <span class="pointer orange"  data-drawer-trigger aria-controls="drawer-sale-add-comment-<%= sale.id %>" aria-expanded="false">LÀ !</span></p>
      <% end %>
    </div>
  </div>
</section>
