<div class="container custom-container">
   <div class="page-header non-scrolled-page-header scrollable-page-header d-flex justify-content-between">
      <h2>Les ventes <span class="ml-2"></span></h2>
      <div class="d-flex">
        <div class="pr-38 d-flex fs-24-16" style="margin-top: -4px">
          <span class="fs-14 pr-2 pl-sm-2 pt-sm-2" style="margin-top: 0.1em"><%= get_price_in_cents(@farm.ht_turnover) %></span><span class="pr-2">|</span><%= get_price_in_cents(@farm.ttc_turnover) %>
        </div>
        <div class="pr-38 d-flex">
          <div class="dropdown show">
            <div class="round-button green" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus round-txt-button"></i></div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-farm-create dropleft"><a class="dropdown-item dropdown-toggle" href="#">Créer une vente</a>
                <ul class="submenu dropdown-menu">
                  <% @outlets.each do |outlet| %>
                    <li><%= link_to new_farm_pointsdevente_sale_path(@farm, outlet), class: 'white dropdown-item' do %><%= outlet.full_name %><% end %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="page-content">
  </div>

  <div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= percentage(@farm.ttc_turnover, @farm.estimated_ttc_turnover).round %>%" aria-valuenow="<%= percentage(@farm.ttc_turnover, @farm.estimated_ttc_turnover) %>" aria-valuemin="0" aria-valuemax="100"><%= percentage(@farm.ttc_turnover, @farm.estimated_ttc_turnover).round %> %</div>
    </div>
    <div class="my-4 desktop_only">
      <% @sales.each do |sale| %>
        <div class="d-flex justify-content-between list-item-block my-2">
          <div class="card-list-item-left-block">
            <div class="align-self-center pr-4" style="width: 120px">
              <p><%= sale.date.to_date.strftime('%-d') %> <%= I18n.t(:month_names)[sale.date.to_date.strftime('%b').to_sym] %></p>
            </div>
              <h4 class="mb-0 align-self-center fw-500"><%= link_to farm_pointsdevente_path(@farm, sale.outlet), class: "green-hover" do %><%= sale.outlet.full_name %><% end %></h4>
          </div>
          <div class="d-flex justify-content-between card-list-item-round-button-block">
            <div class="d-flex desktop_only">
              <%= link_to farm_pointsdevente_sale_path(@farm, sale.outlet, sale) do %>
                <div class="round-button green m-2">
                  <i class="fas fa-search-plus round-txt-button"></i>
                </div>
              <% end %>
              <div class="round-button <%= sale.has_comment? ? 'green' : 'lightgrey' %> m-2" data-drawer-trigger aria-controls="drawer-sale-comment-<%= sale.id %>" aria-expanded="false">
                <i class="fas fa-comment round-txt-button"></i>
              </div>
              <% if sale.has_baskets? %>
                <%= link_to farm_pointsdevente_sale_baskets_path(@farm, sale.outlet, sale) do %>
                  <div class="round-button olive m-2">
                    <%= image_tag "panier.png", alt: "panier", class: "round-img-button" %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to new_farm_pointsdevente_basket_path(@farm, sale.outlet, date: sale.date&.to_date) do %>
                  <div class="round-button lightgrey m-2">
                    <%= image_tag "panier.png", alt: "panier", class: "round-img-button" %>
                  </div>
                <% end %>
              <% end %>
              <div class="round-button red m-2">
                <i class="fas fa-euro-sign round-txt-button"></i>
              </div>
              <div class="round-button red m-2">
                <i class="far fa-file-alt round-txt-button"></i>
              </div>

            </div>
            <div class="align-self-center" style="text-align-last: right; min-width: 80px;">
              <div class="d-flex"><span style="padding-top: 3px" class="pr-2 lightgrey"><%= get_price_in_cents(sale.ht_total) %></span>|<h4 class="mb-0 align-self-center fw-500 pl-2"><%= get_price_in_cents(sale.ttc_total) %></h4></div>
            </div>
          </div>
        </div>
        <%= render "sale_comment_drawer", sale: sale %>
        <%= render "sale_add_comment_drawer", farm: @farm, outlet: sale.outlet, sale: sale %>
      <% end %>
    </div>
    <div class="mobile_only">
      <% @sales.each do |sale| %>
        <div id="carouselSalesIndex" class="carousel-sales carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex justify-content-between list-item-block my-2">
                <div class="card-list-item-left-block w-75">
                  <div class="align-self-center pr-2">
                    <p><%= sale.date.to_date.strftime('%-d/%m') %></p>
                  </div>
                    <h4 class="mb-0 align-self-center fw-500"><%= link_to farm_pointsdevente_path(@farm, sale.outlet), class: "green-hover" do %><%= sale.outlet.full_name %><% end %></h4>
                </div>
                <div class="d-flex justify-content-between card-list-item-round-button-block">
                  <div class="d-flex desktop_only">
                    <div class="round-button green m-2">
                      <i class="fas fa-search-plus round-txt-button"></i>
                    </div>
                    <% if sale.has_baskets? %>
                      <%= link_to farm_pointsdevente_sale_baskets_path(@farm, sale.outlet, sale) do %>
                        <div class="round-button olive m-2">
                          <%= image_tag "panier.png", alt: "panier", class: "round-img-button" %>
                        </div>
                      <% end %>
                    <% else %>
                      <%= link_to new_farm_pointsdevente_basket_path(@farm, sale.outlet, date: sale.date&.to_date) do %>
                        <div class="round-button lightgrey m-2">
                          <%= image_tag "panier.png", alt: "panier", class: "round-img-button" %>
                        </div>
                      <% end %>
                    <% end %>
                    <div class="round-button red m-2">
                      <i class="fas fa-euro-sign round-txt-button"></i>
                    </div>
                    <div class="round-button red m-2">
                      <i class="far fa-file-alt round-txt-button"></i>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <h4 class="mb-0 align-self-center fw-500"><%= get_price_in_cents(sale.ttc_total) %></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex justify-content-between box-shadow-lightgrey my-4">
                <div class="d-flex mobile_only w-100 justify-content-center">
                  <div class="px-2">
                    <div class="round-button <%= sale.has_comment? ? 'green' : 'lightgrey' %> m-2" data-drawer-trigger aria-controls="drawer-sale-comment-<%= sale.id %>" aria-expanded="false">
                      <i class="fas fa-comment round-txt-button"></i>
                    </div>
                    <div class="round-button olive m-2">
                      <%= image_tag "panier.png", alt: "panier", class: "round-img-button" %>
                    </div>
                  </div>
                  <div class="px-2">
                    <div class="round-button green m-2">
                      <i class="fas fa-search-plus round-txt-button"></i>
                    </div>
                  </div>
                  <div class="px-2">
                    <div class="round-button red m-2">
                      <i class="fas fa-euro-sign round-txt-button"></i>
                    </div>
                  </div>
                  <div class="px-2">
                    <div class="round-button red m-2">
                      <i class="far fa-file-alt round-txt-button"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render "sale_comment_drawer", sale: sale %>
        <%= render "sale_add_comment_drawer", farm: @farm, outlet: sale.outlet, sale: sale %>

      <% end %>
    </div>

  </div>
</div>
