<div class="container custom-container">
  <div class="page-header non-scrolled-page-header scrollable-page-header d-flex justify-content-between">
    <h2>Vente <%= link_to farm_pointsdevente_path(@farm, @sale.outlet), class: "green-hover" do %><%= @sale.outlet.full_name %><% end %> du <%= @sale.date.to_date.strftime('%-d') %> <%= I18n.t(:month_names)[@sale.date.to_date.strftime('%b').to_sym] %></h2>
    <div class="pr-38 d-flex">
      <%= get_price_in_cents(@sale.ttc_total) %>
    </div>
  </div>

  <div class="page-content">
  </div>
  <%= form_with model: @new_sales_line, url: farm_sales_lines_path(@farm, outlet:  @sale.outlet.id, sale: @sale.id, date: @sale.date), method: :post do |form| %>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Légume</th>
          <th scope="col">Planche</th>
          <th scope="col">Unité</th>
          <th scope="col">PU HT</th>
          <th scope="col">PU TTC</th>
          <th scope="col">Quantité</th>
          <th scope="col">Total HT</th>
          <th scope="col">Total TTC</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <% @sales_lines.each do |line| %>
          <tr>
            <td><%= line.product.name.capitalize %></td>
            <td><%= line.bed.garden.name %> - <%= line.bed.name %></td>
            <td><%= line.unit %></td>
            <td><%= get_price_in_cents(line.ht_unit_price) %></td>
            <td><%= get_price_in_cents(line.ttc_unit_price) %></td>
            <td><%= line.quantity %></td>
            <td><%= get_price_in_cents(line.ht_total) %></td>
            <td><%= get_price_in_cents(line.ttc_total) %></td>
            <td>
              <%= link_to farm_sales_line_path(@farm, line.id), method: :delete, data: { confirm: "T'es #{current_user.is_female? ? 'sûre' : 'sûr'} ? 🤨"} do %>
                <div class="round-button red">
                  <i class="fas fa-times round-txt-button"></i>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><%= form.select :product, @products %></td>
          <td><%= form.select :bed, @beds %></td>
          <td><%= form.select :unit, ["botte", "pièce", "kg", "unité"] %></td>
          <td><%= form.number_field :ht_unit_price, step: 0.01, class: "price-column" %></td>
          <td><%= form.number_field :ttc_unit_price, step: 0.01, class: "price-column" %></td>
          <td><%= form.number_field :quantity, step: 0.01, class: "price-column" %></td>
          <td><%= form.number_field :ht_total, step: 0.01, class: "price-column" %></td>
          <td><div><%= form.number_field :ttc_total, step: 0.01, class: "price-column" %></div></td>
          <td><%= form.submit value: "Valider", 'data-disable-with': "..." %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

